Repository invoke-ai/InvokeAI, pull requests merged in 2022-11, with the labels that each got.

#1343 readd caching of sd-models
  .github/workflows/test-invoke-conda.yml
Labels: CI-CD

#1390 remove create-caches.yml
  .github/workflows/create-caches.yml
Labels: CI-CD

#1432 Fixes typos in README.md
  frontend/README.md
Labels: documentation

#1525 cleanup ldm/invoke/model_cache.py
  ldm/invoke/CLI.py
  ldm/invoke/model_cache.py
Labels: techdebt

#1531 fix(install): more fixes
  installer/install.bat
  installer/install.sh
  setup.py
Labels: install

#1574 Update-requirements and test-invoke-pip workflow
  .github/workflows/test-invoke-pip.yml
  environments-and-requirements/requirements-base.txt
  environments-and-requirements/requirements-lin-amd.txt
  environments-and-requirements/requirements-lin-arm64.txt
  environments-and-requirements/requirements-lin-cuda.txt
  environments-and-requirements/requirements-mac-mps-cpu.txt
  environments-and-requirements/requirements-win-colab-cuda.txt
Labels: CI-CD, requirements

#1575 move requirements-mkdocs.txt to docs folder
  .github/workflows/mkdocs-material.yml
  docs/requirements-mkdocs.txt
  mkdocs.yml
Labels: CI-CD, requirements

#1517 Interactive configuration
  installer/install.bat
  installer/install.sh
  scripts/configure_invokeai.py
Labels: enhancement, install

#1551 update dockerfile
  .dockerignore
  .github/workflows/build-container.yml
  docker-build/Dockerfile
  docker-build/build.sh
  docker-build/entrypoint.sh
  docker-build/env.sh
  docker-build/models.yaml
  docs/installation/INSTALL_DOCKER.md
Labels: CI-CD, docker

#1612 Debloat-docker
  docker-build/Dockerfile
  docker-build/build.sh
  docker-build/run.sh
  docs/installation/INSTALL_DOCKER.md
Labels: docker

#1629 include a step after config to `cat ~/.invokeai`
  .github/workflows/test-invoke-conda.yml
  .github/workflows/test-invoke-pip.yml
Labels: CI-CD
