Repository invoke-ai/InvokeAI, pull requests merged in 2023-03, with the labels that each got.

#2822 Introduce pre-commit, black, isort, ...
  .editorconfig
  .flake8
  .github/workflows/mkdocs-material.yml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  docs/.markdownlint.jsonc
  docs/features/index.md
  docs/help/IDE-Settings/index.md
  docs/help/IDE-Settings/vs-code.md
  docs/help/contributing/010_PULL_REQUEST.md
  docs/help/contributing/020_ISSUES.md
  docs/help/contributing/030_DOCS.md
  docs/help/contributing/090_NODE_TRANSFORMATION.md
  docs/help/contributing/index.md
  docs/help/index.md
  docs/index.md
  docs/requirements-mkdocs.txt
  mkdocs.yml
  pyproject.toml
Labels: documentation, enhancement, CI-CD, requirements

#2863 fix Dockerfile after restructure
  .dockerignore
  .github/workflows/build-container.yml
  docker/Dockerfile
Labels: docker

#2911 backend: more post-ldm-removal cleanup
  invokeai/backend/generate.py
  invokeai/backend/model_management/model_manager.py
  invokeai/backend/prompting/__init__.py
  invokeai/backend/prompting/conditioning.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/web/invoke_ai_web_server.py
Labels: techdebt

#2925 raise operations-per-run for issue workflow to 500
  .github/workflows/close-inactive-issues.yml
Labels: CI-CD

#2915 feat[web]: use the predicted denoised image for previews
  invokeai/app/invocations/generate.py
  invokeai/backend/web/invoke_ai_web_server.py
Labels: enhancement, web ui
