Repository invoke-ai/InvokeAI, pull requests merged in 2024-07, with the labels that each got.

#6519 Update README.md
  README.md
Labels: Root

#6567 fix(ui): don't mess up redux actions if 403 gets thrown
  invokeai/frontend/web/src/services/api/authToastMiddleware.ts
Labels: frontend

#6566 (ui) clarify auto-add logic
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardContextMenu.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/GalleryBoard.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/NoBoardBoardContextMenu.tsx
Labels: frontend

#6555 Make the VAE tile size configurable for tiled VAE
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/image_to_latents.py
  invokeai/app/invocations/latents_to_image.py
  invokeai/backend/stable_diffusion/vae_tiling.py
  tests/backend/stable_diffusion/test_vae_tiling.py
Labels: python, invocations, backend, python-tests

#6570 Fix access token lookup for model downloads
  invokeai/app/services/download/download_default.py
Labels: python, services

#6573 fix sort order
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.ts
Labels: frontend

#6574 Update pnpm github action
  .github/actions/install-frontend-deps/action.yml
Labels: CI-CD

#6578 [MM bugfix] Put model install errors on the event bus
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Labels: python, services, python-tests

#6571 Fix some models treated as having size 0 in the model cache
  invokeai/backend/ip_adapter/ip_adapter.py
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/backend/textual_inversion.py
Labels: python, backend

#6579 Delete unused duplicate libc_util.py file
  invokeai/backend/model_manager/libc_util.py
Labels: python, backend

#6580 Update the PR template QA instructions
  .github/pull_request_template.md
Labels: CI-CD

#6582 Fix circular imports related to SCHEDULER_NAME_VALUES
  invokeai/app/invocations/constants.py
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/scheduler.py
  invokeai/app/invocations/tiled_multi_diffusion_denoise_latents.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/stable_diffusion/schedulers/schedulers.py
  invokeai/invocation_api/__init__.py
  tests/backend/stable_diffusion/schedulers/test_schedulers.py
Labels: python, invocations, backend, python-tests

#6583 Fixed 404 error on latest release link (line 16):
  installer/templates/invoke.bat.in
Labels: installer

#6589 Demote error log to warning for models treated as having size 0
  invokeai/backend/model_manager/load/model_util.py
Labels: python, backend

#6588 Boards UI update and add support for private boards
  invokeai/app/api/routers/boards.py
  invokeai/app/services/board_records/board_records_common.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/addArchivedOrDeletedBoardListener.ts
  invokeai/frontend/web/src/app/types/invokeai.ts
  invokeai/frontend/web/src/common/components/IAIDropOverlay.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/AutoAddBadge.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/AutoAddIcon.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/AddBoardButton.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/BoardsList.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/GalleryBoard.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/NoBoardBoard.tsx
  invokeai/frontend/web/src/features/gallery/components/GalleryBoardName.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGalleryContent.tsx
  invokeai/frontend/web/src/features/system/store/configSlice.ts
  invokeai/frontend/web/src/services/api/endpoints/boards.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Labels: api, python, services, frontend

#6595 chore: bump version to 4.2.6a1
  invokeai/version/invokeai_version.py
Labels: python

#6593 Do not crash if there are invalid model configs in the DB
  docs/contributing/MODEL_MANAGER.md
  invokeai/app/api/dependencies.py
  invokeai/app/services/model_records/model_records_sql.py
  tests/app/services/model_records/test_model_records_sql.py
  tests/backend/model_manager/model_manager_fixtures.py
Labels: api, python, services, python-tests, docs

#6600 fix(app): vae tile size field description
  invokeai/app/invocations/fields.py
Labels: python, invocations

#6604 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#6608 chore: bump version to 4.2.6rc1
  invokeai/version/invokeai_version.py
Labels: python

#6612 fix(ui): clear selection when deleting last image in board
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/imageDeletionListeners.ts
Labels: frontend

#6616 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#6619 fix(ui): boards cut off when search open
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/BoardsList.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGalleryContent.tsx
Labels: frontend

#6620 chore: bump version to v4.2.6
  invokeai/version/invokeai_version.py
Labels: python

#6624 fix(backend): revert non-blocking device transfer
  invokeai/backend/ip_adapter/ip_adapter.py
  invokeai/backend/lora.py
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
  invokeai/backend/model_patcher.py
  invokeai/backend/onnx/onnx_runtime.py
  invokeai/backend/raw_model.py
  invokeai/backend/textual_inversion.py
  invokeai/backend/util/devices.py
Labels: python, backend

#6625 chore: bump version to 4.2.6post1
  invokeai/version/invokeai_version.py
Labels: python

#6556 Add support for Spandrel Image-to-Image models (e.g. ESRGAN, Real-ESRGAN, Swin-IR, DAT, etc.)
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/spandrel_image_to_image.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_loaders/spandrel_image_to_image.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/backend/model_manager/probe.py
  invokeai/backend/raw_model.py
  invokeai/backend/spandrel_image_to_image_model.py
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelTypeFilter.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/SpandrelImageToImageModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
  pyproject.toml
Labels: python, Root, invocations, backend, frontend, python-deps

#6594 Add tiling to SpandrelImageToImageInvocation
  invokeai/app/invocations/spandrel_image_to_image.py
  invokeai/backend/spandrel_image_to_image_model.py
Labels: python, invocations, backend, DO NOT MERGE

#6605 Add Spandrel upscale starter models
  invokeai/backend/model_manager/starter_models.py
Labels: python, backend, DO NOT MERGE

#6631 Fix model unpatching process when running on CPU
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
Labels: python, backend

#6635 Add gradient blending to tile seams in MultiDiffusion
  invokeai/app/invocations/tiled_multi_diffusion_denoise_latents.py
  invokeai/backend/stable_diffusion/multi_diffusion_pipeline.py
Labels: python, invocations, backend

#6606 Base of modular backend
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/model_patcher.py
  invokeai/backend/stable_diffusion/denoise_context.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/stable_diffusion/diffusion/conditioning_data.py
  invokeai/backend/stable_diffusion/diffusion/regional_prompt_data.py
  invokeai/backend/stable_diffusion/diffusion_backend.py
  invokeai/backend/stable_diffusion/extension_callback_type.py
  invokeai/backend/stable_diffusion/extensions/base.py
  invokeai/backend/stable_diffusion/extensions/preview.py
  invokeai/backend/stable_diffusion/extensions_manager.py
  tests/backend/stable_diffusion/extensions/test_base.py
  tests/backend/stable_diffusion/test_extension_manager.py
Labels: python, invocations, backend, python-tests

#6634 add sdxl tile to starter models
  invokeai/backend/model_manager/starter_models.py
Labels: python, backend

#6636 Fix function call that we forgot to update in #6606
  invokeai/app/invocations/tiled_multi_diffusion_denoise_latents.py
Labels: python, invocations

#6644 Bump fastapi-events dependency
  pyproject.toml
Labels: Root, python-deps

#6646 fix: update uncategorized board totals when deleting and moving images
  invokeai/frontend/web/src/services/api/endpoints/images.ts
Labels: frontend

#6640 Modular backend - add rescale cfg
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/stable_diffusion/denoise_context.py
  invokeai/backend/stable_diffusion/diffusion_backend.py
  invokeai/backend/stable_diffusion/extension_callback_type.py
  invokeai/backend/stable_diffusion/extensions/rescale_cfg.py
Labels: python, invocations, backend

#6641 Modular backend - add FreeU
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/stable_diffusion/diffusion_backend.py
  invokeai/backend/stable_diffusion/extensions/base.py
  invokeai/backend/stable_diffusion/extensions/freeu.py
  invokeai/backend/stable_diffusion/extensions_manager.py
Labels: python, invocations, backend

#6642 Modular backend - add ControlNet
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/stable_diffusion/extensions/base.py
  invokeai/backend/stable_diffusion/extensions/controlnet.py
  invokeai/backend/stable_diffusion/extensions_manager.py
Labels: python, invocations, backend

#6650 feat(ui): add upsells for pro edition to settings menu
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsMenu.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsUpsellMenuItem.tsx
Labels: frontend

#6649 Update Simple Upscale Button to work with spandrel models
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/upscaleRequested.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildAdHocUpscaleGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/constants.ts
  invokeai/frontend/web/src/features/parameters/components/Upscale/ParamRealESRGANModel.tsx
  invokeai/frontend/web/src/features/parameters/components/Upscale/ParamSpandrelModel.tsx
  invokeai/frontend/web/src/features/parameters/components/Upscale/ParamUpscaleSettings.tsx
  invokeai/frontend/web/src/features/parameters/hooks/useIsAllowedToUpscale.ts
  invokeai/frontend/web/src/features/parameters/store/postprocessingSlice.ts
  invokeai/frontend/web/src/features/parameters/store/upscaleSlice.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/UpscaleSettingsAccordion/UpscaleSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/UpscaleSettingsAccordion/UpscaleWarning.tsx
Labels: frontend

#6645 [MM2] Use typed ModelRecordChanges for model_install() rather than untyped dict
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_install/model_install_base.py
  invokeai/app/services/model_install/model_install_common.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/app/services/model_records/model_records_base.py
  invokeai/backend/model_manager/config.py
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useInstallModel.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/StarterModels/StartModelsResultItem.tsx
  invokeai/frontend/web/src/services/api/endpoints/models.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/services/model_install/test_model_install.py
Labels: api, python, invocations, backend, services, frontend-deps, frontend, python-tests

#6659 fix(ui): restore pnpm-lock.yaml
  invokeai/frontend/web/pnpm-lock.yaml
Labels: frontend-deps, frontend

#6660 fix(ui): model select overflowing when model names are too long
  invokeai/frontend/web/src/features/parameters/components/MainModel/ParamMainModelSelect.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLRefiner/ParamSDXLRefinerModelSelect.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/RefinerSettingsAccordion/RefinerSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/UpscaleSettingsAccordion/UpscaleSettingsAccordion.tsx
Labels: frontend

#6653 ui: translations update from weblate
  invokeai/frontend/web/public/locales/ar.json
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/he.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ko.json
  invokeai/frontend/web/public/locales/nl.json
  invokeai/frontend/web/public/locales/pl.json
  invokeai/frontend/web/public/locales/pt.json
  invokeai/frontend/web/public/locales/pt_BR.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/sv.json
  invokeai/frontend/web/public/locales/tr.json
  invokeai/frontend/web/public/locales/uk.json
  invokeai/frontend/web/public/locales/zh_CN.json
Labels: frontend

#6670 chore: bump version v4.2.7rc1
  invokeai/version/invokeai_version.py
Labels: python

#6676 fix(ui): copied edges must have new ids set
  invokeai/frontend/web/src/features/nodes/hooks/useCopyPaste.ts
Labels: frontend

#6675 fix(backend): add refiner to single-file `load_classes`
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
Labels: python, backend

#6680 feat(ui): update qr code cnet starter model
  invokeai/backend/model_manager/starter_models.py
Labels: python, backend

#6681 feat(app): update default workflows
  invokeai/app/services/workflow_records/default_workflows/MultiDiffusion SD1.5.json
  invokeai/app/services/workflow_records/default_workflows/MultiDiffusion SDXL.json
Labels: python, services

#6689 Update docker image to use pnpm version 8
  docker/Dockerfile
Labels: docker

#6651 Modular backend - Seamless
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/latents_to_image.py
  invokeai/backend/stable_diffusion/__init__.py
  invokeai/backend/stable_diffusion/extensions/seamless.py
  invokeai/backend/stable_diffusion/seamless.py
Labels: python, invocations, backend

#6662 Modular backend - T2I Adapter
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/stable_diffusion/extensions/t2i_adapter.py
Labels: python, invocations, backend

#6694 fix(ui): deleting a board or hiding archived should reset selected & auto-add boards
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/addArchivedOrDeletedBoardListener.ts
Labels: frontend

#6643 Modular backend - inpaint
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/stable_diffusion/extensions/inpaint.py
  invokeai/backend/stable_diffusion/extensions/inpaint_model.py
Labels: python, invocations, backend

#6690 update delete board modal to be more descriptive
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/Boards/DeleteBoardModal.tsx
Labels: frontend

#6695 Add more karras schedulers
  invokeai/backend/stable_diffusion/schedulers/schedulers.py
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/parameters/types/constants.ts
  invokeai/frontend/web/src/services/api/schema.ts
Labels: python, backend, frontend

#6688 Fix gradient mask values range
  invokeai/app/invocations/create_gradient_mask.py
Labels: python, invocations

#6667 Modular backend - LoRA/LyCORIS
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/lora.py
  invokeai/backend/model_patcher.py
  invokeai/backend/stable_diffusion/extensions/base.py
  invokeai/backend/stable_diffusion/extensions/freeu.py
  invokeai/backend/stable_diffusion/extensions/lora.py
  invokeai/backend/stable_diffusion/extensions_manager.py
  invokeai/backend/util/original_weights_storage.py
Labels: python, invocations, backend

#6706 add base prop for destination to direct users to different tabs on initial load
  invokeai/frontend/web/src/app/components/App.tsx
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
Labels: frontend
