Repository invoke-ai/InvokeAI, pull requests merged in 2024-01, with the labels that each got.

#5582 account for baseUrl
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/app/hooks/useSocketIO.ts
  invokeai/frontend/web/src/app/store/nanostores/openAPISchemaUrl.ts
  invokeai/frontend/web/src/services/api/thunks/schema.ts
Labels: Frontend

#5581 add option for workflowCategories
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/app/store/nanostores/workflowCategories.ts
  invokeai/frontend/web/src/features/workflowLibrary/components/WorkflowLibraryList.tsx
Labels: Frontend

#5583 {fix} install docs house keeping
  docs/img/favicon.ico
  docs/index.md
  docs/installation/INSTALLATION.md
  docs/workflows/SDXL_w_Refiner_Text_to_Image.json
  mkdocs.yml
Labels: documentation, Root

#5586 update contributors list to bring into sync with discord roles
  docs/other/CONTRIBUTORS.md
Labels: documentation

#5593 feat(ui): add a copy button to the about modal
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/system/components/AboutModal/AboutModal.tsx
Labels: Frontend

#5595 ui: translations update from weblate
  invokeai/frontend/web/public/locales/tr.json
Labels: Frontend

#5598 add UI library to rollup config
  invokeai/frontend/web/config/vite.package.config.mts
Labels: Frontend

#5604 fix(ui): the bottom button on floating side panel clears all queue items
  invokeai/frontend/web/src/features/queue/components/ClearQueueIconButton.tsx
  invokeai/frontend/web/src/features/ui/components/FloatingParametersPanelButtons.tsx
Labels: Frontend

#5562 Update safetensors and transformers to their latest versions
  pyproject.toml
Labels: Root, PythonDeps

#5542 changed hotkeys
  invokeai/frontend/web/src/features/canvas/hooks/useCanvasZoom.ts
Labels: Frontend

#5591 feat: :sparkles: disable/enable LoRas with a switch
  invokeai/frontend/web/src/features/lora/components/LoRACard.tsx
  invokeai/frontend/web/src/features/lora/store/loraSlice.ts
  invokeai/frontend/web/src/features/nodes/util/graph/addLoRAsToGraph.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
Labels: Frontend

#5601 feat: add profiler util
  invokeai/app/services/config/config_default.py
  invokeai/app/services/invocation_processor/invocation_processor_default.py
  invokeai/app/util/profiler.py
  pyproject.toml
  scripts/generate_profile_graphs.sh
  tests/test_profiler.py
Labels: python, Root, PythonDeps, Services, PythonTests

#5614 fix(ui): cursor obstructing brush
  invokeai/frontend/web/src/features/canvas/store/canvasNanostore.ts
Labels: Frontend

#5617 fix(ui): workflow settings styling
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopRightPanel/WorkflowEditorSettings.tsx
Labels: Frontend

#5607 Workflow navigation & save-as
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/types/invokeai.ts
  invokeai/frontend/web/src/features/nodes/components/NodeEditor.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/AddNodePopover/AddNodePopover.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopPanel/ClearFlowButton.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopPanel/SaveWorkflowButton.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopPanel/TopPanel.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopPanel/UpdateNodesButton.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopPanel/WorkflowName.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopRightPanel/TopRightPanel.tsx
  invokeai/frontend/web/src/features/nodes/store/workflowSlice.ts
  invokeai/frontend/web/src/features/workflowLibrary/components/SaveWorkflowAsDialog/SaveWorkflowAsDialog.tsx
  invokeai/frontend/web/src/features/workflowLibrary/components/SaveWorkflowAsDialog/useSaveWorkflowAsDialog.ts
  invokeai/frontend/web/src/features/workflowLibrary/components/WorkflowLibraryButton.tsx
  invokeai/frontend/web/src/features/workflowLibrary/components/WorkflowLibraryMenu/SaveWorkflowAsMenuItem.tsx
  invokeai/frontend/web/src/features/workflowLibrary/components/WorkflowLibraryMenu/SaveWorkflowMenuItem.tsx
  invokeai/frontend/web/src/features/workflowLibrary/components/WorkflowLibraryMenu/WorkflowLibraryMenu.tsx
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useSaveWorkflow.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useSaveWorkflowAs.ts
Labels: Frontend

#5608 Allow civit ai API Key on Imports
  invokeai/app/services/config/config_default.py
  invokeai/backend/install/model_install_backend.py
  invokeai/backend/util/util.py
Labels: python, Backend, Services

#5618 board switching : select first image if no selectedImageName
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/boardIdSelected.ts
Labels: Frontend
