Repository invoke-ai/InvokeAI, pull requests merged in 2024-10, with the labels that each got.

#6997 Fix regression with FLUX diffusers LoRA models
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/backend/lora/conversions/flux_diffusers_lora_conversion_utils.py
  invokeai/backend/lora/conversions/flux_kohya_lora_conversion_utils.py
  invokeai/backend/lora/conversions/flux_lora_constants.py
  tests/backend/lora/conversions/test_flux_diffusers_lora_conversion_utils.py
  tests/backend/lora/conversions/test_flux_kohya_lora_conversion_utils.py
Labels: python, invocations, backend, python-tests

#7003 chore: bump version to v5.0.2
  invokeai/version/invokeai_version.py
Labels: python

#7001 feat(context menu): :sparkles: condense top row of image context menu
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemCopy.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemDelete.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemDownload.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemOpenInNewTab.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemOpenInViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemSelectForCompare.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/SingleSelectionMenuItems.tsx
Labels: frontend

#7013 fix(ui): show color picker when using pen
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolColorPicker.ts
Labels: frontend

#7014 feat(ui): mmb panning (another approach)
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStageModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
Labels: frontend

#7015 fix(ui): duplicating regional guidance layer breaks graph generation
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
Labels: frontend

#7016 fix(ui): recall LoRAs may create duplicates
  invokeai/frontend/web/src/features/controlLayers/store/lorasSlice.ts
Labels: frontend

#7022 Bump xformers for compatibility with torch
  pyproject.toml
Labels: Root, python-deps

#7019 fix(ui): prevent unhandled promise rejections
  invokeai/frontend/web/src/features/gallery/hooks/useImageActions.ts
  invokeai/frontend/web/src/features/metadata/components/MetadataLoRAs.tsx
  invokeai/frontend/web/src/features/metadata/hooks/useMetadataItem.tsx
Labels: frontend

#7024 chore: bump version to v5.1.0rc2
  invokeai/version/invokeai_version.py
Labels: python

#7002 Update communityNodes.md add Ollama node
  docs/nodes/communityNodes.md
Labels: docs

#7023 Update docker-compose.yml
  docker/docker-compose.yml
Labels: docker

#7029 fix(ui): incorrect hotkeys on floating button tooltips
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#7030 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
Labels: frontend

#7031 chore: bump version to v5.1.0rc4
  invokeai/version/invokeai_version.py
Labels: python

#7038 fix(ui): image context menu buttons don't close menu
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemCopy.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemDelete.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemDownload.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemOpenInNewTab.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemOpenInViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemSelectForCompare.tsx
Labels: frontend

#7039 chore: bump version to v5.1.0rc5
  invokeai/version/invokeai_version.py
Labels: python

#7040 ui: translations update from weblate
  invokeai/frontend/web/public/locales/fr.json
Labels: frontend

#7041 fix(ui): board drop targets
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/GalleryBoard.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/NoBoardBoard.tsx
Labels: frontend

#7055 fix(ui): missing translations for canvas drop area
  invokeai/frontend/web/src/features/controlLayers/components/CanvasDropArea.tsx
Labels: frontend

#7053 docs: list FLUX as supported
  README.md
Labels: Root

#7051 feat(ui): allow for a broader range of guidance values for flux models
  invokeai/frontend/web/src/features/system/store/configSlice.ts
Labels: frontend

#7056 fix(ui): duplicate translation string for "layer"
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#7057 chore: bump version to v5.1.0
  invokeai/version/invokeai_version.py
Labels: python

#7043 Add Enhance Detail to communityNodes.md
  docs/nodes/communityNodes.md
Labels: docs

#7032 update flake
  flake.lock
  flake.nix
  pyproject.toml
Labels: Root, python-deps

#7063 Get Flux working on MPS when torch 2.5.0 test or nightlies are installed
  invokeai/backend/flux/math.py
Labels: python, backend

#7067 misc(ui): image/asset tab tooltips, icon to rename board, getting started text
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/BoardEditableTitle.tsx
  invokeai/frontend/web/src/features/gallery/components/Gallery.tsx
Labels: frontend

#7069 feat(ui): board edit tweaks
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/BoardEditableTitle.tsx
Labels: frontend

#7073 add missing translations
  invokeai/frontend/web/src/features/nodes/components/sidePanel/WorkflowListMenu/ActiveWorkflow.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/WorkflowName.tsx
Labels: frontend

#7075 fix(ui): canvas sliders misc
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListSelectedEntityActionBarOpacity.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolBrushWidth.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolEraserWidth.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbarScale.tsx
Labels: frontend

#7072 fix(ui): validate edges on paste
  invokeai/frontend/web/src/features/nodes/hooks/useCopyPaste.ts
Labels: frontend

#7076 fix(ui): sync pointer position on pointerdown
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
Labels: frontend

#7071 feat(app): update example config file comment
  invokeai/app/services/config/config_default.py
Labels: python, services

#7077 chore: bump version to v5.1.1
  invokeai/version/invokeai_version.py
Labels: python

#7082 feat(ui): add option to copy share link for workflows
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/sidePanel/WorkflowListMenu/CopyWorkflowLinkModal.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/WorkflowListMenu/WorkflowListItem.tsx
  invokeai/frontend/web/src/features/nodes/hooks/useCopyWorkflowLinkModal.ts
Labels: frontend

#7070 Add support for FLUX ControlNet models (XLabs and InstantX)
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/flux_controlnet.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/backend/flux/controlnet/__init__.py
  invokeai/backend/flux/controlnet/controlnet_flux_output.py
  invokeai/backend/flux/controlnet/instantx_controlnet_flux.py
  invokeai/backend/flux/controlnet/state_dict_utils.py
  invokeai/backend/flux/controlnet/xlabs_controlnet_flux.py
  invokeai/backend/flux/controlnet/zero_module.py
  invokeai/backend/flux/denoise.py
  invokeai/backend/flux/extensions/__init__.py
  invokeai/backend/flux/extensions/base_controlnet_extension.py
  invokeai/backend/flux/extensions/inpaint_extension.py
  invokeai/backend/flux/extensions/instantx_controlnet_extension.py
  invokeai/backend/flux/extensions/xlabs_controlnet_extension.py
  invokeai/backend/flux/model.py
  invokeai/backend/model_manager/load/model_loaders/controlnet.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/probe.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/src/features/controlLayers/components/CanvasAddEntityButtons.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListGlobalActionBarAddLayerMenu.tsx
  invokeai/frontend/web/src/features/controlLayers/components/ControlLayer/ControlLayerControlAdapter.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addControlAdapters.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
  scripts/extract_sd_keys_and_shapes.py
  tests/backend/flux/controlnet/instantx_flux_controlnet_state_dict.py
  tests/backend/flux/controlnet/test_state_dict_utils.py
  tests/backend/flux/controlnet/xlabs_flux_controlnet_state_dict.py
Labels: python, invocations, backend, frontend, python-tests

#7093 feat(ui): consolidate img2img canvas flow
  invokeai/frontend/web/src/features/controlLayers/hooks/addLayerHooks.ts
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemsNewImg2ImgCanvasFromImage.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/SingleSelectionMenuItems.tsx
Labels: frontend

#7094 fix(ui): use non-icon version of delete menu item on canvas context menu
  invokeai/frontend/web/src/features/controlLayers/components/ControlLayer/ControlLayerMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/IPAdapter/IPAdapterMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RegionalGuidance/RegionalGuidanceMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityMenuItemsDelete.tsx
Labels: frontend

#7096 chore: bump version to v5.2.0rc1
  invokeai/version/invokeai_version.py
Labels: python

#7066 Add a workaround for broken sliced attention on MPS with torch 2.4.1
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
Labels: python, backend

#7095 fix(ui): edge case where controladapters added counts could be off
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addControlAdapters.ts
Labels: frontend

#7099 fix(ui): edge case where entity isn't visible until interacting with canvas
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityAdapterBase.ts
  invokeai/frontend/web/src/features/controlLayers/store/selectors.ts
Labels: frontend

#7100 build(ui): set package mode target to ES2015
  invokeai/frontend/web/vite.config.mts
Labels: frontend

#7104 fix(ui): prefix share link with window location
  invokeai/frontend/web/src/features/nodes/components/sidePanel/WorkflowListMenu/ShareWorkflowModal.tsx
Labels: frontend

#7105 fix(api): undo changes that made workflow category optional in list query
  invokeai/app/api/routers/workflows.py
  invokeai/app/services/workflow_records/workflow_records_base.py
  invokeai/app/services/workflow_records/workflow_records_sqlite.py
  invokeai/frontend/web/src/services/api/schema.ts
Labels: api, python, services, frontend

#7110 fix(api): update enum usage to work for python 3.11
  invokeai/app/services/board_records/board_records_sqlite.py
Labels: python, services

#7107 fix: Pin onnx versions to builds that don't require rare dlls
  pyproject.toml
Labels: Root, python-deps

#7109 Update workflow_records_sqlite.py
  invokeai/app/services/workflow_records/workflow_records_sqlite.py
Labels: python, services

#7121 chore: bump version to v5.2.0rc2
  invokeai/version/invokeai_version.py
Labels: python

#7125 fix(ui): add error handling to upload button
  invokeai/frontend/web/src/common/hooks/useImageUploadButton.tsx
Labels: frontend

#7126 fix(ui): upload tooltip should only show plural if multiple upload is enabled
  invokeai/frontend/web/src/features/gallery/components/GalleryUploadButton.tsx
Labels: frontend

#7128 fix(ui): remove extra slash in workflow share link
  invokeai/frontend/web/src/features/nodes/components/sidePanel/WorkflowListMenu/ShareWorkflowModal.tsx
Labels: frontend

#7124 feat(ui): make debug logger middleware configurable
  invokeai/frontend/web/src/app/store/middleware/debugLoggerMiddleware.ts
Labels: frontend

#7145 fix(app): directory traversal when deleting images
  invokeai/app/services/image_files/image_files_disk.py
  tests/app/services/image_files/test_image_files_disk.py
Labels: python, services, python-tests

#7150 Small improvements for the installer text output
  installer/install.sh.in
Labels: installer

#7151 add starter model Architecture (RealVisXL5)
  invokeai/backend/model_manager/starter_models.py
Labels: python, backend

#7156 fix(nodes): `FluxDenoiseInvocation.controlnet_vae` missing `default=None`
  invokeai/app/invocations/flux_denoise.py
Labels: python, invocations

#7152 FLUX CFG support
  invokeai/app/invocations/flux_denoise.py
  invokeai/backend/flux/denoise.py
  tests/app/invocations/test_flux_denoise.py
Labels: python, invocations, backend, python-tests

#7157 FLUX XLabs IP-Adapter Support
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_ip_adapter.py
  invokeai/app/invocations/ip_adapter.py
  invokeai/app/invocations/metadata.py
  invokeai/backend/flux/custom_block_processor.py
  invokeai/backend/flux/denoise.py
  invokeai/backend/flux/extensions/xlabs_ip_adapter_extension.py
  invokeai/backend/flux/ip_adapter/__init__.py
  invokeai/backend/flux/ip_adapter/ip_double_stream_block_processor.py
  invokeai/backend/flux/ip_adapter/state_dict_utils.py
  invokeai/backend/flux/ip_adapter/xlabs_ip_adapter_flux.py
  invokeai/backend/flux/model.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_loaders/clip_vision.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
  invokeai/backend/model_manager/probe.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/src/features/controlLayers/components/CanvasAddEntityButtons.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListGlobalActionBarAddLayerMenu.tsx
  invokeai/frontend/web/src/features/controlLayers/components/IPAdapter/IPAdapterModel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/IPAdapter/IPAdapterSettings.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addIPAdapters.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/flux/ip_adapter/test_xlabs_ip_adapter_flux.py
  tests/backend/flux/ip_adapter/xlabs_flux_ip_adapter_state_dict.py
Labels: python, invocations, backend, frontend, python-tests

#7147 Fix AMD GPUs not being detected
  docker/Dockerfile
  installer/lib/installer.py
Labels: docker, installer

#7113 Get flux working with MPS on torch 2.4.1, with GGUF support
  invokeai/backend/flux/sampling_utils.py
  invokeai/backend/quantization/gguf/ggml_tensor.py
Labels: python, backend

#7164 chore: bump version to v5.3.0rc1
  invokeai/version/invokeai_version.py
Labels: python

#7172 fix(ui): normalize infill alpha to 0-255 when building infill nodes
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
Labels: frontend

#7184 tweak(ui): prevent show/hide boards button cutoff
  invokeai/frontend/web/src/features/gallery/components/GalleryHeader.tsx
  invokeai/frontend/web/src/features/gallery/components/GalleryPanelContent.tsx
Labels: frontend

#7190 chore: bump version to v5.3.0rc2
  invokeai/version/invokeai_version.py
Labels: python

#7187 feat(ui): add setting for showing model descriptions in dropdown
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/hooks/useGroupedModelCombobox.ts
  invokeai/frontend/web/src/common/hooks/useModelCombobox.ts
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
  invokeai/frontend/web/src/features/system/store/types.ts
Labels: frontend

#7195 fix(nodes): return copies of objects in invocation ctx
  invokeai/app/services/shared/invocation_context.py
Labels: python, services

#7199 Improve dev install docs
  docs/contributing/dev-environment.md
Labels: docs

#7204 chore: bump version to v5.3.0
  invokeai/version/invokeai_version.py
Labels: python

#7210 fix(ui): canvas alerts blocking metadata panel
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewer.tsx
Labels: frontend

#7221 feat(ui): update announcements for v5.3.0
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/ui/components/Notifications.tsx
  invokeai/frontend/web/src/features/ui/components/WhatsNew.tsx
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiTypes.ts
Labels: frontend

#7225 chore: bump version to v5.3.1rc1
  invokeai/version/invokeai_version.py
Labels: python

#7227 fix(ui): compositor not setting processing flag when cleaning up
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
Labels: frontend

#7165 Update patchmatch.md
  docs/installation/patchmatch.md
Labels: docs

#6801 Update FAQ.md
  docs/faq.md
Labels: docs

#7200 Fix link in dev docs
  docs/contributing/contribution_guides/newContributorChecklist.md
Labels: docs

#7211 fix broken link in installer
  installer/lib/messages.py
Labels: installer

#7232 Adjust pins for torch, numpy, other dependencies
  pyproject.toml
Labels: Root, python-deps

#7237 fix(ui): add missing translations
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemMetadataRecallActions.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemNewFromImageSubMenu.tsx
Labels: frontend

#6526 removing periods from update link to prevent page not found error
  installer/templates/invoke.sh.in
Labels: installer
