Repository invoke-ai/InvokeAI, pull requests merged in 2024-03, with the labels that each got.

#5840 ci: update mkdocs workflow
  .github/workflows/mkdocs-material.yml
Labels: CICD

#5812 cleanup: Remove manual offload from Depth Anything Processor
  invokeai/app/invocations/controlnet_image_processors.py
  invokeai/backend/image_util/depth_anything/__init__.py
Labels: documentation, api, python, Root, PythonDeps, Invocations, Backend, Services, FrontendDeps, Frontend, PythonTests, CICD

#5845 Remove attention map saving
  invokeai/app/invocations/latent.py
  invokeai/backend/stable_diffusion/__init__.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/stable_diffusion/diffusion/__init__.py
  invokeai/backend/stable_diffusion/diffusion/cross_attention_control.py
  invokeai/backend/stable_diffusion/diffusion/cross_attention_map_saving.py
  invokeai/backend/stable_diffusion/diffusion/shared_invokeai_diffusion.py
Labels: python, Invocations, Backend

#5859 Update Transformers 4.37.2 -> 4.38.2
  pyproject.toml
Labels: Root, python-deps

#5832 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ko.json
  invokeai/frontend/web/public/locales/nl.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/tr.json
  invokeai/frontend/web/public/locales/zh_CN.json
Labels: frontend

#5853 Log a stack trace for invocation errors
  invokeai/app/services/session_processor/session_processor_default.py
Labels: python, services

#5852 Allow in place local installs of models
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_install/model_install_default.py
Labels: api, python, services

#5850 Default model settings
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_metadata/metadata_store_base.py
  invokeai/app/services/model_metadata/metadata_store_sql.py
  invokeai/backend/model_manager/metadata/metadata_base.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/index.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
  invokeai/frontend/web/src/app/types/invokeai.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPane.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/DefaultSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/DefaultSettings/DefaultCfgRescaleMultiplier.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/DefaultSettings/DefaultCfgScale.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/DefaultSettings/DefaultScheduler.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/DefaultSettings/DefaultSettingsForm.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/DefaultSettings/DefaultSteps.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/DefaultSettings/DefaultVae.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/DefaultSettings/DefaultVaePrecision.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/DefaultSettings/SettingToggle.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Metadata/ModelMetadata.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Model.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
  invokeai/frontend/web/src/features/parameters/components/MainModel/UseDefaultSettingsButton.tsx
  invokeai/frontend/web/src/features/parameters/store/actions.ts
  invokeai/frontend/web/src/features/parameters/store/generationSlice.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/features/system/store/configSlice.ts
  invokeai/frontend/web/src/services/api/endpoints/models.ts
  invokeai/frontend/web/src/services/api/schema.ts
Labels: api, python, backend, services, frontend

#5866 updates for `defaultModel`
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
  invokeai/frontend/web/src/features/parameters/store/generationSlice.ts
Labels: frontend

#5882 fix(ui): fix URL for get image workflow
  invokeai/frontend/web/src/services/api/endpoints/images.ts
Labels: frontend

#5884 fix(ui): only show default settings on main models
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
Labels: frontend

#5877 fix(nodes): load config before doing anything else
  invokeai/app/api_app.py
Labels: python

#5889 migrate models on service start
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services

#5901 remove old data migration from previous schema version
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_3.py
  invokeai/app/services/shared/sqlite_migrator/migrations/util/migrate_yaml_config_1.py
Labels: python, services

#5898 ui(model_manager): Remember Scan Path
  invokeai/frontend/web/src/features/modelManagerV2/store/modelManagerV2Slice.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ScanFolder/ScanFolderForm.tsx
Labels: frontend

#5902 fix(ui): only render convert button if ckpt model
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelConvertButton.tsx
Labels: frontend

#5903 fix(ui): add ordering for model list
  invokeai/app/services/model_records/model_records_sql.py
Labels: python, services

#5905 fix(app): include `config_path` in yaml -> DB migration
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services

#5911 fix(mm): only move model files if necessary
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services

#5913 fix(mm): yaml migration fixup
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services

#5895 fix: make Canvas compatible with inpainting models again
  invokeai/app/invocations/latent.py
Labels: python, invocations

#5914 fix(mm): do not erroneously rename files
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services

#5899 Remove dead code related to an old symmetry feature.
  invokeai/app/invocations/latent.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/stable_diffusion/diffusion/conditioning_data.py
  invokeai/backend/stable_diffusion/diffusion/shared_invokeai_diffusion.py
Labels: python, invocations, backend

#5919 fix(nodes): ip adapter
  invokeai/app/invocations/ip_adapter.py
  invokeai/app/invocations/model.py
Labels: python, invocations

#5915 chore: bump app deps
  pyproject.toml
Labels: Root, python-deps

#5921 Do not override log_memory_usage when debug logs are enabled
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
Labels: python, backend

#5908 {release} 4.0.0rc1
  invokeai/version/invokeai_version.py
Labels: python, frontend

#5927 ci: add missing permission to release workflow
  .github/workflows/release.yml
Labels: CI-CD

#5936 Update l2i invoke and seamless to support AutoencoderTiny, remove att…
  invokeai/app/invocations/latent.py
  invokeai/backend/stable_diffusion/seamless.py
Labels: python, invocations, backend

#5924 updated model manager to display when import item is cancelled
  invokeai/app/services/events/events_base.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/socketio/socketModelInstall.ts
  invokeai/frontend/web/src/services/events/actions.ts
  invokeai/frontend/web/src/services/events/types.ts
Labels: python, services, frontend

#5942 fix(ui): disable trigger phrase form if empty
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/TriggerPhrases.tsx
Labels: frontend

#5929 ci: add `always_run` input to checks & tests, use this on release workflow
  .github/workflows/frontend-checks.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/python-checks.yml
  .github/workflows/python-tests.yml
  .github/workflows/release.yml
Labels: CI-CD

#5945 chore: cleanup DepthAnything code
  invokeai/app/invocations/controlnet_image_processors.py
  invokeai/backend/image_util/depth_anything/__init__.py
Labels: python, invocations, backend

#5950 (ui): fetch TIs on socket connect
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/socketio/socketConnected.ts
Labels: frontend

#5955 feat: :pencil2: rename "Workflow Editor" tab label to "Workflows"
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#5947 Work around missing core conversion model issue
  invokeai/backend/model_manager/convert_ckpt_to_diffusers.py
Labels: python, backend

#5948 Restore ability to install models from command line
  invokeai/frontend/install/model_install.py
Labels: python

#5961 fix(nodes): depth anything processor (#5956)
  invokeai/backend/image_util/depth_anything/__init__.py
Labels: python, backend

#5963 docs: update CONFIGURATION.md
  docs/features/CONFIGURATION.md
Labels: docs

#5965 Run typegen, update version to 4.0.0rc2
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/version/invokeai_version.py
Labels: python, frontend

#5968 fix(ui): initial main model in dropdown
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
Labels: frontend

#5976 Update diffusers 0.26.3 -> 0.27.0 and other HF packages
  pyproject.toml
Labels: Root, python-deps

#5979 Allow removal of models with legacy relative path addressing
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services

#5981 Remove core conversion models
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/install/check_root.py
  invokeai/backend/install/invokeai_configure.py
  invokeai/backend/model_manager/convert_ckpt_to_diffusers.py
  invokeai/backend/model_manager/load/model_loaders/controlnet.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
  invokeai/backend/model_manager/load/model_loaders/vae.py
  invokeai/backend/model_manager/probe.py
Labels: python, backend, services

#5973 Stop registering and moving models which have symlinks in the models dir
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services

#5980 Add sdxl controlnet models
  invokeai/configs/INITIAL_MODELS.yaml
Labels: python, services

#5982 Install missing clip_vision encoders if required by an ip adapter
  invokeai/app/invocations/ip_adapter.py
Labels: python, invocations

#5990 Revert "fix(mm): provide ckpt config as stream to diffusers"
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
Labels: python, backend

#5993 fix(ui): model list refreshes after changes
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/socketio/socketModelInstall.ts
  invokeai/frontend/web/src/services/api/endpoints/models.ts
  invokeai/frontend/web/src/services/api/index.ts
Labels: frontend

#5989 Record the model_variant in t2i and clip_vision configs
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
Labels: python, backend

#5958 gh: update pr template
  .github/pull_request_template.md
Labels: CI-CD

#5992 chore: bump nodes versions
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/controlnet_image_processors.py
  invokeai/app/invocations/cv.py
  invokeai/app/invocations/facetools.py
  invokeai/app/invocations/image.py
  invokeai/app/invocations/infill.py
  invokeai/app/invocations/ip_adapter.py
  invokeai/app/invocations/latent.py
  invokeai/app/invocations/math.py
  invokeai/app/invocations/metadata.py
  invokeai/app/invocations/model.py
  invokeai/app/invocations/noise.py
  invokeai/app/invocations/param_easing.py
  invokeai/app/invocations/primitives.py
  invokeai/app/invocations/prompt.py
  invokeai/app/invocations/sdxl.py
  invokeai/app/invocations/strings.py
  invokeai/app/invocations/t2i_adapter.py
  invokeai/app/invocations/tiles.py
  invokeai/app/invocations/upscale.py
Labels: python, invocations

#5985 Fix(backend): Denoise Masks being applied at the wrong time
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
Labels: python, backend

#5977 Update pytorch and xFormers 2.1.2 -> 2.2.1
  pyproject.toml
Labels: Root, python-deps

#5999 fix(ui): handle seamless with refiner
  invokeai/frontend/web/src/features/nodes/util/graph/addVAEToGraph.ts
Labels: frontend

#6003 chore: v4.0.0rc3
  invokeai/version/invokeai_version.py
Labels: python

#6004 Remove no longer used pwinput dependency
  pyproject.toml
Labels: Root, python-deps

#6005 chore: v4.0.0rc4
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/version/invokeai_version.py
Labels: python, frontend

#6017 fix(ui): set aspect ratio to free when using default model settings
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
Labels: frontend

#6019 feat(mm): display progress when hashing files
  invokeai/backend/model_hash/model_hash.py
Labels: python, backend

#5382 [feature] Add probe for SDXL controlnet models
  invokeai/backend/model_manager/probe.py
Labels: python, backend

#6012 pkg: pin version of `ruff`
  pyproject.toml
Labels: Root, python-deps

#6015 fix(ui): use the old combobox component for dropdowns
  invokeai/frontend/web/src/features/controlAdapters/components/parameters/ParamControlAdapterModel.tsx
  invokeai/frontend/web/src/features/parameters/components/MainModel/ParamMainModelSelect.tsx
Labels: frontend

#6016 fix(ui): runtime errors related to model types in ui
  invokeai/frontend/web/src/features/controlAdapters/store/controlAdaptersSlice.ts
  invokeai/frontend/web/src/features/lora/store/loraSlice.ts
  invokeai/frontend/web/src/features/parameters/store/generationSlice.ts
  invokeai/frontend/web/src/features/parameters/store/types.ts
  invokeai/frontend/web/src/features/sdxl/store/sdxlSlice.ts
Labels: frontend

#6018 gh: update pr template
  .github/pull_request_template.md
Labels: CI-CD

#6023 Allow checkpoint config files to use root-relative paths
  invokeai/backend/model_manager/load/model_loaders/controlnet.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
  invokeai/backend/model_manager/load/model_loaders/vae.py
Labels: python, backend

#6024 Fix minor bugs involving model manager handling of model paths
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_install/model_install_base.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/app/services/model_records/__init__.py
  tests/app/services/model_install/test_model_install.py
Labels: api, python, services, python-tests

#6027 chore(nodes): update default workflows for v4
  invokeai/app/services/workflow_records/default_workflows/ESRGAN Upscaling with Canny ControlNet.json
  invokeai/app/services/workflow_records/default_workflows/Face Detailer with IP-Adapter & Canny (See Note in Details).json
  invokeai/app/services/workflow_records/default_workflows/Multi ControlNet (Canny & Depth).json
  invokeai/app/services/workflow_records/default_workflows/Prompt from File.json
  invokeai/app/services/workflow_records/default_workflows/SDXL Text to Image.json
  invokeai/app/services/workflow_records/default_workflows/Text to Image - SD1.5.json
  invokeai/app/services/workflow_records/default_workflows/Text to Image - SDXL.json
  invokeai/app/services/workflow_records/default_workflows/Text to Image with LoRA.json
  invokeai/app/services/workflow_records/default_workflows/Tiled Upscaling (Beta).json
Labels: python, services

#6028 fix(mm): remove proteus model
  invokeai/backend/model_manager/starter_models.py
Labels: python, backend

#6030 chore: v4.0.0rc5
  invokeai/version/invokeai_version.py
Labels: python

#6031 fix:Update probe.py - Case-sensitive typo on `.LoRA`
  invokeai/backend/model_manager/probe.py
Labels: python, backend

#6036 allow deletion of symlinked models in models dir
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services

#6050 fix(ui): load default workflows mutation error
  invokeai/frontend/web/src/features/nodes/util/workflow/migrations.ts
Labels: frontend

#6046 tidy: launcher
  installer/templates/invoke.sh.in
Labels: installer

#6037 Update transformers and diffusers
  pyproject.toml
Labels: Root, python-deps

#6063 docs: remove handful of deprecated docs
  docs/deprecated/2to3.md
  docs/deprecated/CLI.md
  docs/deprecated/EMBIGGEN.md
  docs/deprecated/INPAINTING.md
  docs/deprecated/OUTPAINTING.md
  docs/deprecated/TRANSLATION.md
  docs/deprecated/VARIATIONS.md
  docs/help/deprecated/TROUBLESHOOT.md
  mkdocs.yml
Labels: Root, docs

#6052 Check cuDNN version compatibility on startup
  invokeai/app/api_app.py
Labels: python

#6066 Flip default ordering of workflow library; #5477
  invokeai/frontend/web/src/features/workflowLibrary/components/WorkflowLibraryList.tsx
Labels: frontend

#6068 feat(ui): when using a control image's dimensions, fit to the current model's optimal dimensions
  invokeai/frontend/web/src/features/controlAdapters/components/ControlAdapterImagePreview.tsx
Labels: frontend

#6071 chore: v4.0.0rc6
  invokeai/version/invokeai_version.py
Labels: python

#6073 fix(installer): restore install successful message
  installer/lib/installer.py
Labels: installer

#6074 chore: ruff
  installer/lib/installer.py
Labels: installer

#6078 Only cancel session processor if current generating queue item is can…
  invokeai/app/services/session_processor/session_processor_default.py
Labels: python, services

#6076 fix(nodes): workaround seamless multi gpu error
  invokeai/backend/stable_diffusion/seamless.py
Labels: python, backend

#6079 Use defaults for db_dir and outdir since config no longer writes defa…
  invokeai/backend/util/db_maintenance.py
Labels: python, backend

#6083 Drop model_config table during database version 7 migration.
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_7.py
Labels: python, services

#6072 [mm] Do not write diffuser model to disk when convert_cache set to zero
  invokeai/app/api/routers/model_manager.py
  invokeai/backend/model_manager/__init__.py
  invokeai/backend/model_manager/convert_ckpt_to_diffusers.py
  invokeai/backend/model_manager/load/convert_cache/convert_cache_default.py
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
  invokeai/backend/model_manager/load/model_loaders/controlnet.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
  invokeai/backend/model_manager/load/model_loaders/ip_adapter.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/load/model_loaders/onnx.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
  invokeai/backend/model_manager/load/model_loaders/textual_inversion.py
Labels: api, python, backend, services

#6088 Remove debug statement
  invokeai/app/services/shared/sqlite/sqlite_util.py
Labels: python, services

#6091 fix(queue): pause & resume
  invokeai/app/services/session_processor/session_processor_default.py
Labels: python, services

#6095 Fix 100% CPU load in `session_processor_default._process()`
  invokeai/app/services/session_processor/session_processor_default.py
Labels: python, services

#6096 fix(nodes): 100% cpu usage when paused
  invokeai/app/services/session_processor/session_processor_default.py
Labels: python, services
