Repository invoke-ai/InvokeAI, pull requests merged in 2024-05, with the labels that each got.

#6086 Add TCD scheduler
  invokeai/app/invocations/latent.py
  invokeai/backend/stable_diffusion/schedulers/schedulers.py
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/parameters/types/constants.ts
  invokeai/frontend/web/src/services/api/schema.ts
Labels: python, invocations, backend, frontend

#6299 fix(nodes): fix constraints in cnet processors
  invokeai/app/invocations/controlnet_image_processors.py
Labels: python, invocations

#6303 chore: v4.2.0b1
  invokeai/version/invokeai_version.py
Labels: python

#6294 Update TRAINING.md
  docs/features/TRAINING.md
Labels: docs

#6305 feat: improve the switch states of the control layers / viewer area
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/EditorButton.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ViewerButton.tsx
Labels: frontend

#6317 chore: v4.2.0b2
  invokeai/version/invokeai_version.py
Labels: python

#6328 chore: v4.2.0
  invokeai/version/invokeai_version.py
Labels: python

#6329 Update INSTALL_REQUIREMENTS.md - 'linux only' under AMD for SDXL.
  docs/installation/INSTALL_REQUIREMENTS.md
Labels: docs

#6344 fix: fix seamless
  invokeai/app/invocations/latent.py
  invokeai/backend/image_util/__init__.py
  invokeai/backend/image_util/seamless.py
  invokeai/backend/stable_diffusion/seamless.py
Labels: python, invocations, backend

#6336 fix(ui): CA processor cancellation
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/controlAdapterPreprocessor.ts
  invokeai/frontend/web/src/features/controlLayers/components/ControlAndIPAdapter/ControlAdapterImagePreview.tsx
  invokeai/frontend/web/src/features/controlLayers/store/controlLayersSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/util/controlAdapters.ts
  invokeai/frontend/web/src/features/metadata/util/parsers.ts
Labels: frontend

#6335 fix(ui): jank in depthanything model size select
  invokeai/frontend/web/src/features/controlLayers/components/ControlAndIPAdapter/processors/DepthAnythingProcessor.tsx
Labels: frontend

#6357 fix(ui): use translations for canvas layer select
  invokeai/frontend/web/src/features/canvas/components/IAICanvasToolbar/IAICanvasToolbar.tsx
  invokeai/frontend/web/src/features/canvas/store/canvasTypes.ts
Labels: frontend

#6332 fix(ui): disable listening on CA and II layers
  invokeai/frontend/web/src/features/controlLayers/util/renderers.ts
Labels: frontend

#6337 fix(api): model cover image lost
  invokeai/app/api/routers/model_manager.py
Labels: api, python

#6359 fix(ui): invoke button shows loading while queueing
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedLinear.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedNodes.ts
Labels: frontend

#6362 chore: v4.2.1
  invokeai/version/invokeai_version.py
Labels: python

#6370 fix: Fix Outpaint not applying the expanded mask correctly
  invokeai/frontend/web/src/features/nodes/util/graph/buildCanvasOutpaintGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildCanvasSDXLOutpaintGraph.ts
Labels: frontend

#6374 docs: fix install reqs link
  docs/installation/010_INSTALL_AUTOMATED.md
Labels: docs

#6378 feat(ui): SDXL clip skip
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLLoRAs.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildGenerationTabSDXLGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamClipSkip.tsx
  invokeai/frontend/web/src/features/parameters/types/constants.ts
Labels: frontend

#6387 feat(ui): prevent connections to direct-only inputs
  invokeai/frontend/web/src/features/nodes/hooks/useIsValidConnection.ts
  invokeai/frontend/web/src/features/nodes/store/util/findConnectionToValidHandle.ts
  invokeai/frontend/web/src/features/nodes/store/util/makeIsConnectionValidSelector.ts
Labels: frontend

#6385 feat(ui): copy/paste input edges when copying node
  invokeai/frontend/web/src/features/nodes/components/flow/Flow.tsx
  invokeai/frontend/web/src/features/nodes/hooks/useCopyPaste.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
Labels: frontend

#6366 fix(ui): allow image dims multiple of 32 with SDXL and T2I adapter
  invokeai/frontend/web/src/common/hooks/useIsReadyToEnqueue.ts
Labels: frontend

#6389 revert(ui): SDXL clip skip
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLLoRAs.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildGenerationTabSDXLGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamClipSkip.tsx
  invokeai/frontend/web/src/features/parameters/types/constants.ts
Labels: frontend

#6388 feat(worker): add nullable user_id and project_id to invocation error events
  invokeai/app/services/events/events_base.py
  invokeai/app/services/session_processor/session_processor_default.py
Labels: python, services

#6392 docs: fix link to. install reqs
  docs/installation/020_INSTALL_MANUAL.md
Labels: docs

#6393 fix(ui): control adapter auto-process jank
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/controlAdapterPreprocessor.ts
Labels: frontend

#6397 fix(ui): edge case resulting in no node templates when loading workfl…
  invokeai/frontend/web/src/app/components/App.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/SingleSelectionMenuItems.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImageButtons.tsx
  invokeai/frontend/web/src/features/workflowLibrary/components/WorkflowLibraryMenu/LoadWorkflowFromGraphMenuItem.tsx
Labels: frontend

#6391 fix(ui): fix t2i adapter dimensions error message
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/hooks/useIsReadyToEnqueue.ts
Labels: frontend

#6407 [#6351] ui: retain denoise strength and opacity when changing image
  invokeai/frontend/web/src/features/controlLayers/store/controlLayersSlice.ts
Labels: frontend

#6410 chore: v4.2.2
  invokeai/version/invokeai_version.py
Labels: python

#6412 fix(ui): crash when using notes nodes or missing node/field templates
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNode.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/MissingFallback.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputField.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldWrapper.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InvocationFieldCheck.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/LinearViewField.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Notes/NotesNode.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/viewMode/WorkflowField.tsx
  invokeai/frontend/web/src/features/nodes/hooks/useAnyOrDirectInputFieldNames.ts
  invokeai/frontend/web/src/features/nodes/hooks/useConnectionInputFieldNames.ts
  invokeai/frontend/web/src/features/nodes/hooks/useDoesFieldExist.ts
  invokeai/frontend/web/src/features/nodes/hooks/useFieldInputTemplate.ts
  invokeai/frontend/web/src/features/nodes/hooks/useFieldNames.ts
  invokeai/frontend/web/src/features/nodes/hooks/useNodeLabel.ts
  invokeai/frontend/web/src/features/nodes/hooks/useNodeTemplateTitle.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/selectors.ts
  invokeai/version/invokeai_version.py
Labels: python, frontend

#6413 docs: fix link to Invoke AI's models site
  docs/features/CONTROLNET.md
Labels: docs

#6418 feat(ui): restore spellcheck on prompt boxes
  invokeai/frontend/web/src/features/controlLayers/components/RGLayer/RGLayerNegativePrompt.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RGLayer/RGLayerPositivePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamNegativePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLPrompts/ParamSDXLNegativeStylePrompt.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLPrompts/ParamSDXLPositiveStylePrompt.tsx
Labels: frontend

#6422 Update error boundary to link to support ticket for non-local
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/components/AppErrorBoundaryFallback.tsx
Labels: frontend

#6431 fix: remove db maintenance script from launcher
  installer/templates/invoke.bat.in
  installer/templates/invoke.sh.in
Labels: installer

#6426 feat(api): downgrade metadata parse warnings to debug
  invokeai/app/api/routers/images.py
Labels: api, python

#6434 fix(ui): initial image layers always ignored
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addControlLayers.ts
Labels: frontend

#6432 chore: v4.2.3
  invokeai/version/invokeai_version.py
Labels: python

#6255 fix typo
  docker/README.md
Labels: docker

#6395 docs: fix a typo
  docs/help/diffusion.md
Labels: docs

#6327 Update deps to their lastest versions
  pyproject.toml
Labels: Root, python-deps

#6441 fix(ui): parameter not set translation
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#6446 fix(ui): edit variant for main models only
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelEdit.tsx
Labels: frontend

#6451 feat(events): add missing classvar to events, add validators for deserialization of events
  invokeai/app/services/events/events_common.py
Labels: python, services

#6449 Update TI handling for compatibility with transformers 4.40.0
  invokeai/backend/textual_inversion.py
Labels: python, backend

#6450 [MM]Fix bug in offload_unlocked_models() call
  invokeai/backend/model_manager/load/model_cache/model_locker.py
Labels: python, backend

#6459 docs: add FAQ for fixing controlnet_aux
  docs/help/FAQ.md
Labels: docs

#6460 fix(ui): remove overly strict constraints on control adapter weight
  invokeai/frontend/web/src/features/controlLayers/util/controlAdapters.ts
Labels: frontend

#6454 fix: openapi stuff
  Makefile
  invokeai/app/api_app.py
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/shared/graph.py
  invokeai/app/util/custom_openapi.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/controlAdapterPreprocessor.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/controlNetImageProcessed.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/socketio/socketInvocationComplete.ts
  invokeai/frontend/web/src/features/nodes/components/sidePanel/inspector/InspectorOutputsTab.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildNodesGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
  invokeai/frontend/web/src/services/events/types.ts
  pyproject.toml
  scripts/generate_openapi_schema.py
  tests/test_node_graph.py
Labels: python, Root, invocations, services, frontend, python-tests, python-deps
