Repository invoke-ai/InvokeAI, pull requests merged in 2024-08, with the labels that each got.

#6701 Add Grounded SAM support (text prompt image segmentation)
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/grounding_dino.py
  invokeai/app/invocations/mask.py
  invokeai/app/invocations/primitives.py
  invokeai/app/invocations/segment_anything.py
  invokeai/backend/image_util/grounding_dino/__init__.py
  invokeai/backend/image_util/grounding_dino/detection_result.py
  invokeai/backend/image_util/grounding_dino/grounding_dino_pipeline.py
  invokeai/backend/image_util/segment_anything/__init__.py
  invokeai/backend/image_util/segment_anything/mask_refinement.py
  invokeai/backend/image_util/segment_anything/segment_anything_pipeline.py
  invokeai/backend/model_manager/load/model_util.py
Labels: python, invocations, backend

#6704 fix(ui): include upscale metadata for SDXL multidiffusion
  invokeai/frontend/web/src/features/nodes/util/graph/buildMultidiffusionUpscaleGraph.ts
Labels: frontend

#6718 build: exclude matplotlib 3.9.1
  pyproject.toml
Labels: Root, python-deps

#6684 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ko.json
  invokeai/frontend/web/public/locales/nl.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/tr.json
  invokeai/frontend/web/public/locales/zh_CN.json
Labels: frontend

#6674 Depth Anything V2
  invokeai/app/invocations/controlnet_image_processors.py
  invokeai/backend/image_util/depth_anything/__init__.py
  invokeai/backend/image_util/depth_anything/depth_anything_pipeline.py
  invokeai/backend/image_util/depth_anything/model/blocks.py
  invokeai/backend/image_util/depth_anything/model/dpt.py
  invokeai/backend/image_util/depth_anything/utilities/util.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlAdapters/components/processors/DepthAnyThingProcessor.tsx
  invokeai/frontend/web/src/features/controlAdapters/store/constants.ts
  invokeai/frontend/web/src/features/controlAdapters/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/components/ControlAndIPAdapter/processors/DepthAnythingProcessor.tsx
  invokeai/frontend/web/src/features/controlLayers/util/controlAdapters.ts
  invokeai/frontend/web/src/services/api/schema.ts
Labels: python, invocations, backend, frontend

#6724 LyCORIS - LoKR and Norm layers
  invokeai/backend/lora.py
Labels: python, backend

#6733 fix(ui): show warning for maxUpscaleDimension if model tab is disabled
  invokeai/frontend/web/src/features/settingsAccordions/components/UpscaleSettingsAccordion/UpscaleWarning.tsx
Labels: frontend

#6735 fix(api): image downloads with correct filename
  invokeai/app/api/routers/images.py
Labels: api, python

#6738 fix(ui): combobox scroll
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
Labels: frontend-deps, frontend

#6727 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/zh_CN.json
Labels: frontend

#6742 feat: add base prop for selectedWorkflow to allow loading a workflow on launch
  invokeai/frontend/web/src/app/components/App.tsx
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useGetAndLoadLibraryWorkflow.ts
Labels: frontend

#6746 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#6745 feat(ui, api): prompt template export
  invokeai/app/api/routers/style_presets.py
  invokeai/app/services/style_preset_records/style_preset_records_base.py
  invokeai/app/services/style_preset_records/style_preset_records_common.py
  invokeai/app/services/style_preset_records/style_preset_records_sqlite.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/IAIImageFallback.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetCreateButton.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetExportButton.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetForm/StylePresetPromptField.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetImport.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetImportButton.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetList.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetMenu.tsx
  invokeai/frontend/web/src/services/api/endpoints/stylePresets.ts
  invokeai/frontend/web/src/services/api/schema.ts
Labels: api, python, services, frontend

#6731 Fix invoke.sh not detecting symlinks
  installer/templates/invoke.sh.in
Labels: installer

#6748 chore: bump version to v4.2.8rc1
  invokeai/version/invokeai_version.py
Labels: python

#6752 fix(ui): use translations for style preset strings
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetForm/StylePresetForm.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetListItem.tsx
Labels: frontend

#6763 fix(ui): clear prompt template when prompts are recalled
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/hooks/useImageActions.ts
Labels: frontend

#6769 fix(ui): use empty string fallback if unable to parse prompts when creating style preset from existing image
  invokeai/frontend/web/src/features/gallery/hooks/useImageActions.ts
Labels: frontend

#6773 fix(ui): disable export button if no non-default presets
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetExportButton.tsx
Labels: frontend

#6783 build: remove broken scripts
  pyproject.toml
Labels: Root, python-deps

#6785 chore: bump version to v4.2.9rc1
  invokeai/version/invokeai_version.py
Labels: python

#6791 FLUX memory management improvements
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/flux_text_to_image.py
  invokeai/backend/flux/sampling.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache_base.py
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
  invokeai/backend/quantization/bnb_llm_int8.py
  invokeai/backend/stable_diffusion/diffusion/conditioning_data.py
  invokeai/backend/util/__init__.py
  invokeai/backend/util/util.py
Labels: python, invocations, backend

#6797 Fix source string in hugging face installs with subfolders
  invokeai/app/services/model_install/model_install_common.py
Labels: python, services

#6736 Add a new FAQ for converting checkpoints to diffusers
  docs/help/FAQ.md
Labels: docs
