Repository invoke-ai/InvokeAI, pull requests merged in 2024-12, with the labels that each got.

#7391 refactor(ui): move clear queue hook to separate file
  invokeai/frontend/web/src/common/hooks/useGlobalHotkeys.ts
  invokeai/frontend/web/src/features/queue/components/ClearQueueButton.tsx
  invokeai/frontend/web/src/features/queue/components/ClearQueueConfirmationAlertDialog.tsx
  invokeai/frontend/web/src/features/queue/components/ClearQueueIconButton.tsx
  invokeai/frontend/web/src/features/queue/components/QueueActionsMenuButton.tsx
  invokeai/frontend/web/src/features/queue/hooks/useClearQueue.ts
  invokeai/frontend/web/src/features/ui/components/FloatingParametersPanelButtons.tsx
Labels: frontend

#7392 fix(ui): call cancel instead of clear queue
  invokeai/frontend/web/src/features/queue/components/QueueActionsMenuButton.tsx
Labels: frontend

#7394 chore(ui): update typegen schema
  invokeai/frontend/web/src/services/api/schema.ts
Labels: frontend

#7393 fix(app): adjust session queue api type
  invokeai/app/api/routers/session_queue.py
Labels: api, python

#7407 feat(ui): less confusing empty state for rg ref images
  invokeai/frontend/web/src/features/controlLayers/components/RegionalGuidance/RegionalGuidanceIPAdapterSettingsEmptyState.tsx
Labels: frontend

#7408 fix(ui): ref image defaults to prev ref image's image selection
  invokeai/frontend/web/src/features/controlLayers/hooks/addLayerHooks.ts
  invokeai/frontend/web/src/features/imageActions/actions.ts
Labels: frontend

#7409 feat(ui): add gallery image ctx menu items to create ref image from image
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemNewLayerFromImageSubMenu.tsx
Labels: frontend

#7411 fix(ui): remove "adding to" text on Invoke tooltip on Workflows/Upscaling tabs
  invokeai/frontend/web/src/features/queue/components/InvokeButtonTooltip/InvokeButtonTooltip.tsx
Labels: frontend

#7412 feat(ui): add vietnamese to language picker
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsLanguageSelect.tsx
  invokeai/frontend/web/src/features/system/store/types.ts
Labels: frontend

#7416 fix(worker): only apply processor cancel logic if cancel event is for current item
  invokeai/app/services/session_processor/session_processor_default.py
Labels: python, services

#7415 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/nl.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/vi.json
  invokeai/frontend/web/public/locales/zh_CN.json
Labels: frontend

#7405 Fix gguf importing
  invokeai/backend/model_manager/util/model_util.py
Labels: python, backend

#7402 [docs] Fix documentation broken links and remove whitespace at end of lines
  docs/contributing/ARCHITECTURE.md
  docs/contributing/INVOCATIONS.md
  docs/contributing/MODEL_MANAGER.md
  docs/contributing/TESTS.md
  docs/contributing/contribution_guides/development.md
  docs/contributing/contribution_guides/newContributorChecklist.md
  docs/contributing/dev-environment.md
  docs/contributing/index.md
  invokeai/frontend/web/README.md
Labels: frontend, docs

#7418 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#7421 fix(app): processor cancelation weirdness
  invokeai/app/services/session_processor/session_processor_default.py
Labels: python, services

#7423 Revert FLUX performance improvement that fails on MacOS
  invokeai/backend/flux/math.py
Labels: python, backend

#7419 ui: translations update from weblate
  invokeai/frontend/web/public/locales/vi.json
Labels: frontend

#7425 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#7424 chore: bump version to v5.4.3
  invokeai/version/invokeai_version.py
Labels: python

#7427 fix(ui): capitalization for vietnamese language
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsLanguageSelect.tsx
Labels: frontend

#7441 fix(ui): image context menu -> create layer from -> swap regional/global actions
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemNewLayerFromImageSubMenu.tsx
Labels: frontend

#7443 docs: add redirect for patchmatch docs
  mkdocs.yml
Labels: Root

#7442 fix(ui): missing translation string
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#7452 Add FLUX Control LoRA weight param
  invokeai/app/invocations/flux_control_lora_loader.py
  invokeai/backend/patches/layers/set_parameter_layer.py
  invokeai/frontend/web/src/features/controlLayers/components/ControlLayer/ControlLayerControlAdapter.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/util.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addControlAdapters.ts
  invokeai/frontend/web/src/services/api/schema.ts
Labels: python, invocations, backend, frontend

#7453 add FLUX control loras to starter models
  invokeai/backend/model_manager/starter_models.py
Labels: python, backend

#7457 fix(ui): fix double filter on slow networks
  invokeai/frontend/web/src/features/controlLayers/components/ControlLayer/ControlLayerControlAdapter.tsx
Labels: frontend

#7458 raise error if control lora used with schnell
  invokeai/app/invocations/flux_denoise.py
Labels: python, invocations

#7459 update whats new copy for Control LoRAs
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#7426 Fix error message when adding a local path with quotes (issue #6517)
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services

#7464 fix(app): fixed InputField default values
  invokeai/app/invocations/create_denoise_mask.py
  invokeai/app/invocations/create_gradient_mask.py
  invokeai/app/invocations/image_to_latents.py
  invokeai/app/invocations/latents_to_image.py
Labels: python, invocations

#7461 chore: bump version to v5.5.0rc1
  invokeai/version/invokeai_version.py
Labels: python

#7469 chore: bump version to v5.5.0
  invokeai/version/invokeai_version.py
Labels: python

#7470 docs: fix installation docs home
  mkdocs.yml
Labels: Root

#7471 docs: fix installation docs home again
  mkdocs.yml
Labels: Root

#7463 feat(ci): add typegen check workflow
  .github/workflows/typegen-checks.yml
Labels: CI-CD, python, invocations

#7489 docs: update download links for launcher
  docs/installation/quick_start.md
Labels: docs

#7493 Add Stereogram Nodes to communityNodes.md
  docs/nodes/communityNodes.md
Labels: docs

#7492 Partial Loading PR1: Tidy ModelCache
  docs/contributing/MODEL_MANAGER.md
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/invocation_stats/invocation_stats_default.py
  invokeai/app/services/model_load/model_load_base.py
  invokeai/app/services/model_load/model_load_default.py
  invokeai/app/services/model_manager/model_manager_default.py
  invokeai/backend/model_manager/load/__init__.py
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_cache/__init__.py
  invokeai/backend/model_manager/load/model_cache/cache_record.py
  invokeai/backend/model_manager/load/model_cache/cache_stats.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/model_manager/load/model_cache/model_cache_base.py
  invokeai/backend/model_manager/load/model_cache/model_locker.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
  tests/backend/model_manager/model_manager_fixtures.py
Labels: api, python, backend, services, python-tests, docs

#7494 Partial Loading PR2: Add utils to support partial loading of models from CPU to GPU
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_only_full_load.py
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_with_partial_load.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/__init__.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/autocast_modules.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/cast_to_device.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_invoke_linear_8_bit_lt.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_invoke_linear_nf4.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/torch_module_autocast.py
  invokeai/backend/quantization/bnb_llm_int8.py
  pyproject.toml
  tests/backend/model_manager/load/model_cache/cached_model/test_cached_model_only_full_load.py
  tests/backend/model_manager/load/model_cache/cached_model/test_cached_model_with_partial_load.py
  tests/backend/model_manager/load/model_cache/cached_model/utils.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/test_autocast_modules.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/test_torch_module_autocast.py
  tests/backend/quantization/test_bnb_llm_int8.py
Labels: python, Root, backend, python-tests, python-deps

#7500 Partial Loading PR3: Integrate 1) partial loading, 2) quantized models, 3) model patching
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/sd3_text_encoder.py
  invokeai/app/invocations/tiled_multi_diffusion_denoise_latents.py
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_with_partial_load.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/autocast_modules.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/README.md
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/__init__.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_conv1d.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_conv2d.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_embedding.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_flux_rms_norm.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_group_norm.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_invoke_linear_8_bit_lt.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_invoke_linear_nf4.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_linear.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_module_mixin.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/utils.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/torch_module_autocast.py
  invokeai/backend/patches/layer_patcher.py
  invokeai/backend/patches/layers/base_layer_patch.py
  invokeai/backend/patches/layers/concatenated_lora_layer.py
  invokeai/backend/patches/layers/flux_control_lora_layer.py
  invokeai/backend/patches/layers/lora_layer_base.py
  invokeai/backend/patches/layers/set_parameter_layer.py
  invokeai/backend/patches/sidecar_wrappers/base_sidecar_wrapper.py
  invokeai/backend/patches/sidecar_wrappers/conv1d_sidecar_wrapper.py
  invokeai/backend/patches/sidecar_wrappers/conv2d_sidecar_wrapper.py
  invokeai/backend/patches/sidecar_wrappers/flux_rms_norm_sidecar_wrapper.py
  invokeai/backend/patches/sidecar_wrappers/linear_sidecar_wrapper.py
  invokeai/backend/patches/sidecar_wrappers/utils.py
  invokeai/backend/quantization/gguf/ggml_tensor.py
  invokeai/backend/stable_diffusion/extensions/lora.py
  tests/backend/model_manager/load/model_cache/cached_model/test_cached_model_with_partial_load.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_flux_rms_norm.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_invoke_linear_8_bit_lt.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_invoke_linear_nf4.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/test_autocast_modules.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/test_torch_module_autocast.py
  tests/backend/patches/layers/test_flux_control_lora_layer.py
  tests/backend/patches/layers/test_lora_layer.py
  tests/backend/patches/layers/test_set_parameter_layer.py
  tests/backend/patches/sidecar_wrappers/test_flux_rms_norm_sidecar_wrapper.py
  tests/backend/patches/sidecar_wrappers/test_linear_sidecar_wrapper.py
  tests/backend/patches/test_layer_patcher.py
  tests/backend/patches/test_lora_patcher.py
Labels: python, invocations, backend, python-tests
