Repository invoke-ai/InvokeAI, pull requests merged in 2024-09, with the labels that each got.

#6523 [MM] add API routes for getting & setting MM cache sizes
  invokeai/app/api/routers/model_manager.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache_base.py
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
Labels: api, python, backend

#6800 Add install probes for T5_encoder and ClipTextModel
  invokeai/backend/model_manager/probe.py
Labels: python, backend

#6806 Build container image on-demand
  .github/workflows/build-container.yml
Labels: CI-CD

#6810 chore: 4.2.9rc2 version bump
  invokeai/version/invokeai_version.py
Labels: python

#6816 chore: 4.2.9 version bump
  invokeai/version/invokeai_version.py
Labels: python

#6838 chore: release v5.0.0.a3
  invokeai/version/invokeai_version.py
Labels: python

#6843 chore: release v5.0.0.a4
  invokeai/version/invokeai_version.py
Labels: python

#6845 Split LoRA layer implementations into separate files.
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/tiled_multi_diffusion_denoise_latents.py
  invokeai/backend/lora.py
  invokeai/backend/lora/__init__.py
  invokeai/backend/lora/layers/__init__.py
  invokeai/backend/lora/layers/any_lora_layer.py
  invokeai/backend/lora/layers/full_layer.py
  invokeai/backend/lora/layers/ia3_layer.py
  invokeai/backend/lora/layers/loha_layer.py
  invokeai/backend/lora/layers/lokr_layer.py
  invokeai/backend/lora/layers/lora_layer.py
  invokeai/backend/lora/layers/lora_layer_base.py
  invokeai/backend/lora/layers/norm_layer.py
  invokeai/backend/lora/lora_model_raw.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/backend/model_patcher.py
  invokeai/backend/stable_diffusion/extensions/lora.py
  tests/backend/model_manager/test_lora.py
Labels: python, invocations, backend, python-tests

#6850 chore: release v5.0.0.a5
  invokeai/version/invokeai_version.py
Labels: python

#6853 Invert the expected `denoise_mask` parameter to the FLUX Denoise node
  invokeai/app/invocations/create_gradient_mask.py
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/flux_denoise.py
Labels: python, invocations

#6859 chore: v5.0.0.a6
  invokeai/version/invokeai_version.py
Labels: python

#6867 feat(ui): change upscaling icon
  invokeai/frontend/web/src/features/ui/components/VerticalNavBar.tsx
Labels: frontend

#6864 fix(ui): restore Settings Modal functionality to render using children
  invokeai/frontend/web/src/app/components/App.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsMenu.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
Labels: frontend

#6869 fix(nodes): add thresholding to lineart & lineart anime nodes
  invokeai/backend/image_util/lineart.py
  invokeai/backend/image_util/lineart_anime.py
Labels: python, backend

#6868 fix(worker): fix progress image for FLUX inpainting
  invokeai/backend/flux/denoise.py
Labels: python, backend

#6879 export hotkeys modal
  invokeai/frontend/web/src/index.ts
Labels: frontend

#6847 FLUX LoRA Support
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_lora_loader.py
  invokeai/app/invocations/model.py
  invokeai/app/invocations/tiled_multi_diffusion_denoise_latents.py
  invokeai/backend/lora/conversions/__init__.py
  invokeai/backend/lora/conversions/flux_diffusers_lora_conversion_utils.py
  invokeai/backend/lora/conversions/flux_kohya_lora_conversion_utils.py
  invokeai/backend/lora/conversions/sd_lora_conversion_utils.py
  invokeai/backend/lora/conversions/sdxl_lora_conversion_utils.py
  invokeai/backend/lora/layers/any_lora_layer.py
  invokeai/backend/lora/layers/concatenated_lora_layer.py
  invokeai/backend/lora/layers/full_layer.py
  invokeai/backend/lora/layers/ia3_layer.py
  invokeai/backend/lora/layers/loha_layer.py
  invokeai/backend/lora/layers/lokr_layer.py
  invokeai/backend/lora/layers/lora_layer.py
  invokeai/backend/lora/layers/lora_layer_base.py
  invokeai/backend/lora/layers/norm_layer.py
  invokeai/backend/lora/layers/utils.py
  invokeai/backend/lora/lora_model_raw.py
  invokeai/backend/lora/lora_patcher.py
  invokeai/backend/lora/sidecar_layers/__init__.py
  invokeai/backend/lora/sidecar_layers/concatenated_lora/__init__.py
  invokeai/backend/lora/sidecar_layers/concatenated_lora/concatenated_lora_linear_sidecar_layer.py
  invokeai/backend/lora/sidecar_layers/lora/__init__.py
  invokeai/backend/lora/sidecar_layers/lora/lora_linear_sidecar_layer.py
  invokeai/backend/lora/sidecar_layers/lora_sidecar_layer.py
  invokeai/backend/lora/sidecar_layers/lora_sidecar_module.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/backend/model_manager/probe.py
  invokeai/backend/model_patcher.py
  invokeai/backend/stable_diffusion/extensions/lora.py
  invokeai/backend/textual_inversion.py
  invokeai/backend/util/calc_tensor_size.py
  tests/backend/lora/conversions/lora_state_dicts/flux_lora_diffusers_format.py
  tests/backend/lora/conversions/lora_state_dicts/flux_lora_kohya_format.py
  tests/backend/lora/conversions/lora_state_dicts/utils.py
  tests/backend/lora/conversions/test_flux_diffusers_lora_conversion_utils.py
  tests/backend/lora/conversions/test_flux_kohya_lora_conversion_utils.py
  tests/backend/lora/sidecar_layers/concatenated_lora/test_concatenated_lora_linear_sidecar_layer.py
  tests/backend/lora/sidecar_layers/lora/test_lora_linear_sidecar_layer.py
  tests/backend/lora/test_lora_patcher.py
  tests/backend/model_manager/test_lora.py
Labels: python, invocations, backend, python-tests

#6882 chore: v5.0.0.a8
  invokeai/version/invokeai_version.py
Labels: python

#6887 fix(ui): revert change to grid calc algorithm
  invokeai/frontend/web/src/features/gallery/hooks/useGalleryNavigation.ts
Labels: frontend

#6889 fix(ui): gallery grid calculation
  invokeai/frontend/web/src/features/gallery/hooks/useGalleryNavigation.ts
Labels: frontend

#6893 fix,feat: canvas followups 13
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolBrushWidth.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolEraserWidth.tsx
  invokeai/frontend/web/src/features/gallery/hooks/useGalleryHotkeys.ts
  invokeai/frontend/web/src/features/nodes/components/flow/Flow.tsx
Labels: frontend

#6891 fix(ui): set crossOrigin on every image load
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasBackgroundModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityObjectRenderer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/util.ts
Labels: frontend

#6892 feat(ui): new user experience
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InvokeLogoIcon.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/NoContentForViewer.tsx
  invokeai/frontend/web/src/features/gallery/hooks/useHasImages.ts
Labels: frontend

#6899 Fix flaky FLUX LoRA unit test
  tests/backend/lora/test_lora_patcher.py
Labels: python-tests

#6901 fix(ui): align project name with gallery header
  invokeai/frontend/web/src/features/gallery/components/GalleryHeader.tsx
  invokeai/frontend/web/src/features/gallery/components/GalleryPanelContent.tsx
Labels: frontend

#6903 tweak(ui): open notification by default, get rid of indicator
  invokeai/frontend/web/src/features/ui/components/Notifications.tsx
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiTypes.ts
Labels: frontend

#6904 fix(ui): track whether studio destination hook fn has already fired
  invokeai/frontend/web/src/app/hooks/useHandleStudioDestination.ts
Labels: frontend

#6902 feat(ui): adds notice for FLUX dev's commercial license
  invokeai/frontend/web/public/assets/images/commercial-license-bg.png
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/InformationalPopover.tsx
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/parameters/components/MainModel/ParamMainModelSelect.tsx
  invokeai/frontend/web/src/services/api/types.ts
Labels: frontend

#6900 Improve FLUX image-to-image (Trajectory Guidance)
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/services/workflow_records/default_workflows/FLUX Image to Image.json
  invokeai/app/services/workflow_records/default_workflows/Flux Text to Image.json
  invokeai/backend/flux/denoise.py
  invokeai/backend/flux/trajectory_guidance_extension.py
  invokeai/backend/util/build_line.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamOptimizedDenoisingToggle.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/ImageSettingsAccordion/ImageSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/util/test_build_line.py
Labels: python, invocations, backend, services, frontend, python-tests

#6905 chore: update version for 5.0.0.rc1
  invokeai/version/invokeai_version.py
Labels: python

#6915 (fix) fixed bbox size reset to optimals on 'Use All' (Asterisk) button press
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
Labels: frontend

#6917 fix(ui): mark optimized inpainting as beta
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamOptimizedDenoisingToggle.tsx
Labels: frontend

#6918 update links
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/NoContentForViewer.tsx
  invokeai/frontend/web/src/features/ui/components/CanvasV2Announcement.tsx
Labels: frontend

#6920 change order of infill methods
  invokeai/app/api/routers/app_info.py
Labels: api, python

#6921 chore: 5.0.0.rc2 version bump
  invokeai/version/invokeai_version.py
Labels: python

#6922 Maryhipp/release notes link
  invokeai/frontend/web/src/features/ui/components/CanvasV2Announcement.tsx
Labels: frontend

#6923 fix(ui): race condition when filtering causing errors/stuck filter
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityFilterer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStateApiModule.ts
Labels: frontend

#6924 fix(ui): prefer 'lama' infill when handling infill fallback
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/appConfigReceived.ts
Labels: frontend

#6926 Update README.md
  README.md
Labels: Root

#6928 fix: filter event listeners
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStateApiModule.ts
Labels: frontend

#6935 chore: 5.0.0 version bump
  invokeai/version/invokeai_version.py
Labels: python

#6933 fix(ui): incorrect translations for flux bbox constraints
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#6937 fix(ui): restore send-to functionality
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/components/App.tsx
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/app/components/PreselectedImage.tsx
  invokeai/frontend/web/src/app/hooks/useHandleStudioDestination.ts
  invokeai/frontend/web/src/app/hooks/useStudioInitAction.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntityRendererModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/selectors.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/useImageViewer.ts
  invokeai/frontend/web/src/features/parameters/hooks/usePreselectedImage.ts
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetListItem.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetMenuTrigger.tsx
  invokeai/frontend/web/src/features/stylePresets/store/isMenuOpen.ts
  invokeai/frontend/web/src/features/stylePresets/store/stylePresetSlice.ts
  invokeai/frontend/web/src/features/ui/components/Notifications.tsx
  invokeai/frontend/web/src/features/ui/components/ParametersPanels/ParametersPanelTextToImage.tsx
  invokeai/frontend/web/src/features/ui/components/ParametersPanels/ParametersPanelUpscale.tsx
  invokeai/frontend/web/src/features/workflowLibrary/store/isWorkflowLibraryModalOpen.ts
  invokeai/frontend/web/src/index.ts
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/api/endpoints/stylePresets.ts
Labels: frontend

#6949 fix(ui): gallery nav hotkeys not working
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.ts
Labels: frontend

#6948 fix(ui): handle resizable panels not rendered in DOM
  invokeai/frontend/web/src/features/ui/hooks/usePanel.ts
Labels: frontend

#6946 fix(ui): truncate error description so toast is always close-able
  invokeai/frontend/web/src/features/toast/ErrorToastDescription.tsx
Labels: frontend

#6818 ui: translations update from weblate
  invokeai/frontend/web/public/locales/ar.json
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/fi.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/he.json
  invokeai/frontend/web/public/locales/hu.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ko.json
  invokeai/frontend/web/public/locales/nl.json
  invokeai/frontend/web/public/locales/pl.json
  invokeai/frontend/web/public/locales/pt.json
  invokeai/frontend/web/public/locales/pt_BR.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/sv.json
  invokeai/frontend/web/public/locales/tr.json
  invokeai/frontend/web/public/locales/uk.json
  invokeai/frontend/web/public/locales/zh_CN.json
  invokeai/frontend/web/public/locales/zh_Hant.json
Labels: frontend

#6953 fix(ui): resizable panels collapsed on first app startup
  invokeai/frontend/web/src/features/gallery/components/GalleryPanelContent.tsx
  invokeai/frontend/web/src/features/ui/components/AppContent.tsx
  invokeai/frontend/web/src/features/ui/hooks/usePanel.ts
Labels: frontend

#6956 fix(ui): canvas interactable after refresh while staging
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStagingAreaModule.ts
Labels: frontend

#6958 (ui): add button to learn more about supported models
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/InstallModels.tsx
Labels: frontend

#6985 fix(api): UI crash with `TypeError: i.map is not a function`
  invokeai/app/api_app.py
Labels: python

#6967 Support FLUX LoRA models in kohya format with `lora_te1` layers (i.e. CLIP LoRA layers)
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_lora_loader.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/backend/lora/conversions/flux_kohya_lora_conversion_utils.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addFLUXLoRAs.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/lora/conversions/lora_state_dicts/flux_lora_kohya_with_te1_format.py
  tests/backend/lora/conversions/test_flux_kohya_lora_conversion_utils.py
Labels: python, invocations, backend, frontend, python-tests

#6993 chore: bump version to v5.0.1
  invokeai/version/invokeai_version.py
Labels: python

#6959 feat(ui,api): add guidance as a default setting option for FLUX models
  invokeai/backend/model_manager/config.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useMainModelDefaultSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/MainModelDefaultSettings/DefaultGuidance.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/MainModelDefaultSettings/MainModelDefaultSettings.tsx
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/services/api/schema.ts
Labels: python, backend, frontend
