Repository invoke-ai/InvokeAI, pull requests merged in 2024-11, with the labels that each got.

#7215 Make T2I Adapters work with any resolution supported by the models
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/frontend/web/src/common/hooks/useIsReadyToEnqueue.ts
Labels: python, invocations, backend, frontend

#7245 chore: bump version to v5.3.1
  invokeai/version/invokeai_version.py
Labels: python

#7247 Pin torch to <2.5.0 to prevent unnecessary downloads
  pyproject.toml
Labels: Root, python-deps

#7254 fix(ui): load workflow from file
  invokeai/frontend/web/src/features/workflowLibrary/components/WorkflowLibraryMenu/WorkflowLibraryMenu.tsx
Labels: frontend

#7258 fix(deps): pin mediapipe strictly to a known working version
  pyproject.toml
Labels: Root, python-deps

#7259 chore: bump version to v5.4.0
  invokeai/version/invokeai_version.py
Labels: python

#7263 fix: Never throw an exception when finding the clip variant type
  invokeai/backend/model_manager/util/model_util.py
Labels: python, backend

#7269 fix(ui): fix link for infill method popover
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
Labels: frontend

#7272 update Whats New for 5.3.1
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/ui/components/WhatsNew.tsx
Labels: frontend

#7273 fix(ui): bad merge conflict
  invokeai/frontend/web/src/features/ui/components/WhatsNew.tsx
Labels: frontend

#7275 fix: get_clip_variant_type should never return None
  invokeai/backend/model_manager/util/model_util.py
Labels: python, backend

#7274 chore(gh): update pr template w/ reminder for what's new copy
  .github/pull_request_template.md
Labels: CI-CD

#7282 fix: Avoid downloading unsafe .bin files if a safetensors file is ava…
  invokeai/backend/model_manager/util/select_hf_files.py
Labels: python, backend

#7283 fix: Look in known subfolders for configs for clip variants
  invokeai/backend/model_manager/util/model_util.py
Labels: python, backend

#7270 Update flux_denoise.py
  invokeai/app/invocations/flux_denoise.py
Labels: python, invocations

#7291 fix(app): silence pydantic protected namespace warning
  invokeai/backend/model_manager/config.py
Labels: python, backend

#7293 chore: bump version to v5.4.1rc2
  invokeai/version/invokeai_version.py
Labels: python

#7294 fix(ui): excessive toasts when generating on canvas
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/imageUploaded.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityObjectRenderer.ts
  invokeai/frontend/web/src/services/api/endpoints/images.ts
Labels: frontend

#7297 fix(ui): fit bbox to layers math
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBboxToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/util.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/util.ts
Labels: frontend

#7298 fix(ui): restore missing image paste handler
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
Labels: frontend

#7299 feat(ui): update warnings on upscaling tab based on model arch
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/hooks/useIsReadyToEnqueue.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/UpscaleSettingsAccordion/UpscaleWarning.tsx
Labels: frontend

#7304 feat(ui): clarify denoising strength badge text
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/ParamDenoisingStrength.tsx
Labels: frontend

#7309 Updated link to flux ip adapter model
  invokeai/backend/model_manager/starter_models.py
  tests/backend/flux/ip_adapter/xlabs_flux_ip_adapter_state_dict.py
Labels: python, backend, python-tests

#7213 Flux Vae broke for float16, force bfloat16 or float32 were compatible
  invokeai/app/invocations/flux_vae_decode.py
  invokeai/app/invocations/flux_vae_encode.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
Labels: python, invocations, backend, frontend

#7313 Fix FLUX diffusers LoRA models with no `.proj_mlp` layers
  invokeai/backend/lora/conversions/flux_diffusers_lora_conversion_utils.py
  tests/backend/lora/conversions/lora_state_dicts/flux_lora_diffusers_format.py
  tests/backend/lora/conversions/lora_state_dicts/flux_lora_diffusers_no_proj_mlp_format.py
  tests/backend/lora/conversions/lora_state_dicts/flux_lora_kohya_format.py
  tests/backend/lora/conversions/lora_state_dicts/flux_lora_kohya_with_te1_format.py
  tests/backend/lora/conversions/lora_state_dicts/utils.py
  tests/backend/lora/conversions/test_flux_diffusers_lora_conversion_utils.py
  tests/backend/lora/conversions/test_flux_kohya_lora_conversion_utils.py
Labels: python, backend, python-tests

#7312 (ui): update en string for full IP adapter
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#7302 feat(ui): tweak image selection/hover styling
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
Labels: frontend

#7316 fix(ui): unable to use text inputs within draggable
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/useCanvasEntityListDnd.ts
  invokeai/frontend/web/src/features/dnd/DndImage.tsx
  invokeai/frontend/web/src/features/dnd/util.ts
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/useLinearViewFieldDnd.ts
Labels: frontend

#7317 fix(ui): multiple selection dnd sometimes doesn't get full selection
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
Labels: frontend

#7319 fix(ui): remove progress message condition for canvas destinations
  invokeai/frontend/web/src/services/events/stores.ts
Labels: frontend

#7326 fix(ui): add padding to the metadata recall section so buttons are not blocked
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
Labels: frontend

#7323 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#7332 fix(ui): progress bar not throbbing when it should
  invokeai/frontend/web/src/features/system/components/ProgressBar.tsx
Labels: frontend

#7346 fix(ui): add sd-3 grid size of 16px to grid util
  invokeai/frontend/web/src/features/parameters/util/optimalDimension.ts
Labels: frontend

#7344 chore: bump version to v5.4.2rc1
  invokeai/version/invokeai_version.py
Labels: python

#7353 fix(ui): simplify logic for non-local invocation progress alerts
  invokeai/frontend/web/src/app/types/invokeai.ts
  invokeai/frontend/web/src/features/controlLayers/components/CanvasAlerts/CanvasAlertsInvocationProgress.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
Labels: frontend

#7351 feat(ui): change reset canvas icon to "empty"
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbarResetCanvasButton.tsx
Labels: frontend

#7355 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/vi.json
  invokeai/frontend/web/public/locales/zh_CN.json
Labels: frontend

#7360 fix(api): make sure Soft Edge Detection has preprocessor applied
  invokeai/backend/model_manager/probe.py
Labels: python, backend

#7361 fix(ui): disable width and height output on image batch output
  invokeai/frontend/web/src/features/nodes/util/schema/parseSchema.ts
Labels: frontend

#7362 feat(ui): set default infill method to lama
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
Labels: frontend

#7365 feat(ui): add actions for video modal clicks
  invokeai/frontend/web/src/features/system/components/VideosModal/VideoCard.tsx
  invokeai/frontend/web/src/features/system/components/VideosModal/VideosModal.tsx
  invokeai/frontend/web/src/features/system/components/VideosModal/VideosModalButton.tsx
  invokeai/frontend/web/src/features/system/store/actions.ts
Labels: frontend

#7369 chore: bump version to v5.4.3rc1
  invokeai/version/invokeai_version.py
Labels: python

#7373 fix(ui): use token for download if its in store
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbarSaveSelectedToGalleryButton.tsx
Labels: frontend

#7376 Create SECURITY.md
  SECURITY.md
Labels: Root

#7381 fix: Fail scan on InvalidMagicError in picklescan, update default for…
  invokeai/app/services/model_load/model_load_default.py
  invokeai/backend/model_manager/probe.py
  invokeai/backend/model_manager/util/model_util.py
Labels: python, backend, services

#7386 Bump transformers to ingest a DepthAnything post-processing fix
  pyproject.toml
Labels: Root, python-deps

#7380 docs: update code of conduct reference
  docs/contributing/index.md
Labels: docs

#7388 FLUX Regional Prompting
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/backend/flux/custom_block_processor.py
  invokeai/backend/flux/denoise.py
  invokeai/backend/flux/extensions/regional_prompting_extension.py
  invokeai/backend/flux/math.py
  invokeai/backend/flux/model.py
  invokeai/backend/flux/text_conditioning.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/CanvasAddEntityButtons.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListGlobalActionBarAddLayerMenu.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RegionalGuidance/RegionalGuidanceDeletePromptButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RegionalGuidance/RegionalGuidanceIPAdapterSettingsEmptyState.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityHeaderCommonActions.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityHeaderWarnings.tsx
  invokeai/frontend/web/src/features/controlLayers/store/validators.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addControlAdapters.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addIPAdapters.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/schema.ts
Labels: python, invocations, backend, frontend
