Repository invoke-ai/InvokeAI, pull requests merged in 2024-06, with the labels that each got.

#6453 [feat] Reduce peak VRAM memory usage of IP adapter
  invokeai/app/invocations/latent.py
Labels: python, invocations, services

#6482 fix(nodes): blend latents with weight=0 with DPMSolverSDEScheduler
  invokeai/app/invocations/latent.py
Labels: python, invocations

#6485 chore: v4.2.4
  invokeai/version/invokeai_version.py
Labels: python

#6439 LoRA patching optimization
  docs/contributing/MODEL_MANAGER.md
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/latent.py
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/model_cache/model_cache_base.py
  invokeai/backend/model_manager/load/model_cache/model_locker.py
  invokeai/backend/model_patcher.py
Labels: python, invocations, backend, services, docs

#6494 fix(ui): re-process control image if processed image is missing on page load
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/controlAdapterPreprocessor.ts
  invokeai/frontend/web/src/features/controlLayers/components/CALayer/CALayerControlAdapterWrapper.tsx
  invokeai/frontend/web/src/features/controlLayers/components/ControlAndIPAdapter/ControlAdapter.tsx
  invokeai/frontend/web/src/features/controlLayers/components/ControlAndIPAdapter/ControlAdapterImagePreview.tsx
Labels: frontend

#6132 Add simplified model manager install API to InvocationContext
  docs/contributing/DOWNLOAD_QUEUE.md
  docs/contributing/MODEL_MANAGER.md
  invokeai/app/api/dependencies.py
  invokeai/app/invocations/controlnet_image_processors.py
  invokeai/app/invocations/infill.py
  invokeai/app/invocations/upscale.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/download/__init__.py
  invokeai/app/services/download/download_base.py
  invokeai/app/services/download/download_default.py
  invokeai/app/services/model_install/model_install_base.py
  invokeai/app/services/model_install/model_install_common.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/app/services/model_load/model_load_base.py
  invokeai/app/services/model_load/model_load_default.py
  invokeai/app/services/model_records/model_records_base.py
  invokeai/app/services/shared/invocation_context.py
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_11.py
  invokeai/app/util/download_with_progress.py
  invokeai/backend/image_util/depth_anything/__init__.py
  invokeai/backend/image_util/dw_openpose/__init__.py
  invokeai/backend/image_util/dw_openpose/utils.py
  invokeai/backend/image_util/dw_openpose/wholebody.py
  invokeai/backend/image_util/infill_methods/lama.py
  invokeai/backend/image_util/realesrgan/realesrgan.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/__init__.py
  invokeai/backend/model_manager/load/convert_cache/convert_cache_default.py
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache_base.py
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
  invokeai/backend/model_manager/load/model_cache/model_locker.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
  invokeai/backend/model_manager/metadata/fetch/huggingface.py
  invokeai/backend/model_manager/metadata/metadata_base.py
  invokeai/backend/util/util.py
  tests/app/services/download/test_download_queue.py
  tests/app/services/model_install/test_model_install.py
  tests/app/services/model_load/test_load_api.py
  tests/backend/model_manager/model_manager_fixtures.py
Labels: api, python, invocations, backend, services, frontend, python-tests, docs

#6490 Improve RAM<->VRAM memory copy performance in LoRA patching and elsewhere
  invokeai/backend/ip_adapter/ip_adapter.py
  invokeai/backend/lora.py
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
  invokeai/backend/model_patcher.py
  invokeai/backend/onnx/onnx_runtime.py
  invokeai/backend/raw_model.py
  invokeai/backend/textual_inversion.py
Labels: python, backend

#6492 Fix `DEFAULT_PRECISION` handling
  invokeai/app/invocations/constants.py
  invokeai/app/invocations/create_denoise_mask.py
  invokeai/app/invocations/create_gradient_mask.py
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/image_to_latents.py
  invokeai/app/invocations/latents_to_image.py
Labels: python, invocations

#6515 added route to install huggingface models from model marketplace
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/socketio/socketModelInstall.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/actions.ts
  invokeai/frontend/web/src/services/events/types.ts
  tests/app/services/model_install/test_model_install.py
Labels: api, python, services, frontend, python-tests

#6493 Tidy `SilenceWarnings` context manager
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/model_manager/probe.py
  invokeai/backend/util/silence_warnings.py
  invokeai/backend/util/util.py
Labels: python, invocations, backend

#6502 [#6333] Add clear_queue_on_startup config to clear problematic queues
  invokeai/app/services/config/config_default.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
Labels: api, python, services

#6524 [MM] Add support for probing and loading SDXL VAE checkpoint files
  invokeai/backend/model_manager/load/model_loaders/vae.py
  invokeai/backend/model_manager/probe.py
Labels: python, backend

#6543 Update prevention exception message
  invokeai/backend/model_hash/hash_validator.py
Labels: python, backend

#6544 Fix handling handling of 0-step denoising process
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/tiled_multi_diffusion_denoise_latents.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/stable_diffusion/multi_diffusion_pipeline.py
Labels: python, invocations, backend

#6510 Load single-file checkpoints directly without conversion
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/model_load/model_load_base.py
  invokeai/app/services/model_load/model_load_default.py
  invokeai/app/services/model_manager/model_manager_default.py
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_12.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/convert_ckpt_to_diffusers.py
  invokeai/backend/model_manager/load/__init__.py
  invokeai/backend/model_manager/load/convert_cache/__init__.py
  invokeai/backend/model_manager/load/convert_cache/convert_cache_base.py
  invokeai/backend/model_manager/load/convert_cache/convert_cache_default.py
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/controlnet.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
  invokeai/backend/model_manager/load/model_loaders/vae.py
  invokeai/backend/model_manager/probe.py
  tests/backend/model_manager/model_manager_fixtures.py
Labels: api, python, backend, services, python-tests

#6537 Update controlnet starters
  invokeai/backend/model_manager/starter_models.py
Labels: python, backend

#6557 fix(app): fix SQL query w/ enum for python 3.11
  invokeai/app/services/image_records/image_records_sqlite.py
Labels: python, services
