Repository invoke-ai/InvokeAI, pull requests merged in 2024-04, with the labels that each got.

#6097 fix(mm): vae conversion
  invokeai/backend/model_manager/convert_ckpt_to_diffusers.py
  invokeai/backend/model_manager/load/model_loaders/vae.py
Labels: python, backend

#6101 fix(config): handle windows paths in invokeai.yaml migration for legacy_conf_dir
  invokeai/app/services/config/config_default.py
  tests/test_config.py
Labels: python, services, python-tests

#6104 Run typegen, bump version
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/version/invokeai_version.py
Labels: python, frontend

#6109 fix(ui): add default coherence mode to generation slice migration
  invokeai/frontend/web/src/features/parameters/store/generationSlice.ts
Labels: frontend

#6116 docs: fix broken link
  docs/installation/INSTALL_DEVELOPMENT.md
Labels: docs

#6121 fix(ui): cancel batch status button greyed out
  invokeai/frontend/web/src/services/api/endpoints/queue.ts
Labels: frontend

#6041 IP-Adapter Safetensor Support
  invokeai/app/invocations/ip_adapter.py
  invokeai/app/invocations/latent.py
  invokeai/app/invocations/metadata.py
  invokeai/backend/ip_adapter/ip_adapter.py
  invokeai/backend/ip_adapter/resampler.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_loaders/ip_adapter.py
  invokeai/backend/model_manager/probe.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlAdapters/components/parameters/ParamControlAdapterModel.tsx
  invokeai/frontend/web/src/features/controlAdapters/hooks/useControlAdapterCLIPVisionModel.ts
  invokeai/frontend/web/src/features/controlAdapters/store/controlAdaptersSlice.ts
  invokeai/frontend/web/src/features/controlAdapters/store/types.ts
  invokeai/frontend/web/src/features/controlAdapters/util/buildControlAdapter.ts
  invokeai/frontend/web/src/features/metadata/util/parsers.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/addIPAdapterToLinearGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Labels: api, python, invocations, backend, services, frontend-deps, frontend, python-tests, docs

#6111 feat(mm): include needed vs free in OOM
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
Labels: python, backend

#6126 add some test IDs for accordion targeting
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/ControlSettingsAccordion/ControlSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/ImageSettingsAccordion/ImageSettingsAccordion.tsx
Labels: frontend

#6128 Update probe to always use cpu for loading models
  invokeai/backend/model_manager/probe.py
Labels: python, backend

#6114 fix(ui): fix model name overflow
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListItem.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Model.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelAttrView.tsx
Labels: frontend

#6131 docs: update 020_INSTALL_MANUAL.md, remove conda section
  docs/installation/020_INSTALL_MANUAL.md
Labels: docs

#6133 fix: unicode errors during install or app startup
  installer/lib/installer.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services, installer

#6134 chore: v4.0.2
  invokeai/version/invokeai_version.py
Labels: python

#6135 fix(ui): discarding last single canvas image breaks canvas
  invokeai/frontend/web/src/features/canvas/store/canvasSlice.ts
Labels: frontend

#6138 fix: ip adapter clip selection being broken
  invokeai/app/invocations/ip_adapter.py
  invokeai/frontend/web/src/services/api/schema.ts
Labels: python, invocations, frontend

#6145 Fix IdealSizeInvocation
  invokeai/app/invocations/latent.py
Labels: python, invocations

#6146 fix(ui): display refiner models in model manager
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/store/modelManagerV2Slice.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelTypeFilter.tsx
Labels: frontend

#6150 Adjust free vram calculation for models that will be offloaded
  invokeai/app/services/model_manager/model_manager_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
  invokeai/backend/model_manager/load/model_cache/model_locker.py
Labels: python, backend, services

#6149 navigate to workflow tab when clicking load workflow
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
Labels: frontend

#6153 Fix misplaced lock call in VRAM management routines (minor)
  invokeai/backend/model_manager/load/model_cache/model_locker.py
Labels: python, backend

#6154 chore: v4.0.3
  invokeai/version/invokeai_version.py
Labels: python

#6159 fix: Incorrect default clip vision opt in the node
  invokeai/app/invocations/ip_adapter.py
  invokeai/frontend/web/src/services/api/schema.ts
Labels: python, invocations, frontend

#6162 fix(nodes): add WithBoard to public API
  invokeai/invocation_api/__init__.py
Labels: python

#6165 chore: v4.0.4
  invokeai/version/invokeai_version.py
Labels: python

#6166 ui: translations update from weblate
  invokeai/frontend/web/public/locales/ar.json
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/he.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/nl.json
  invokeai/frontend/web/public/locales/pl.json
  invokeai/frontend/web/public/locales/pt.json
  invokeai/frontend/web/public/locales/pt_BR.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/uk.json
  invokeai/frontend/web/public/locales/zh_CN.json
Labels: frontend

#6167 fix(ui): handle multipleOf on number fields
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/NumberFieldInputComponent.tsx
Labels: frontend

#6171 feat(backend): clean up choose_precision
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/util/devices.py
Labels: python, backend

#6176 (feat) add a method to get the path of an image from invocationcontext
  invokeai/app/services/shared/invocation_context.py
Labels: python, services

#6181 feat(ui): add graph-to-workflow debug helper
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/NodeEditor.tsx
  invokeai/frontend/web/src/features/nodes/util/workflow/graphToWorkflow.ts
  invokeai/frontend/web/src/features/workflowLibrary/components/LoadWorkflowFromGraphModal/LoadWorkflowFromGraphModal.tsx
  invokeai/frontend/web/src/features/workflowLibrary/components/WorkflowLibraryMenu/LoadWorkflowFromGraphMenuItem.tsx
  invokeai/frontend/web/src/features/workflowLibrary/components/WorkflowLibraryMenu/WorkflowLibraryMenu.tsx
Labels: frontend-deps, frontend

#6186 Fix field ordering
  invokeai/app/invocations/mask.py
Labels: python, invocations

#6184 fix(ui): always enqueue with fresh staging area bbox
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/addCommitStagingAreaImageListener.ts
  invokeai/frontend/web/src/features/canvas/components/IAICanvasStagingAreaToolbar.tsx
  invokeai/frontend/web/src/features/canvas/store/canvasSlice.ts
Labels: frontend

#6193 [mm] clear the cache entry for a model that got an OOM during loading
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
Labels: python, invocations, backend, services

#6191 fix(queue): poll queue on finished queue item
  invokeai/app/services/session_processor/session_processor_default.py
Labels: python, services

#6200 Remove type="submit" from all tsx files.
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/InstallModelForm.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ControlNetOrT2IAdapterDefaultSettings/ControlNetOrT2IAdapterDefaultSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/MainModelDefaultSettings/MainModelDefaultSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/TriggerPhrases.tsx
Labels: frontend

#6201 Update INSTALL_DEVELOPMENT.md
  docs/installation/INSTALL_DEVELOPMENT.md
Labels: docs

#6211 Fix "recall all" when loras, controls, or high res fix are not present
  invokeai/frontend/web/src/features/metadata/util/parsers.ts
  invokeai/frontend/web/src/features/metadata/util/recallers.ts
Labels: frontend

#6218 remove hires fix badge from settings when using sdxl
  invokeai/frontend/web/src/features/settingsAccordions/components/ImageSettingsAccordion/ImageSettingsAccordion.tsx
Labels: frontend

#6178 Update deps to their lastest versions
  pyproject.toml
Labels: Root, python-deps

#6224 feat(ui): edge labels
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/flow/edges/InvocationDefaultEdge.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/edges/util/makeEdgeSelector.ts
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopRightPanel/WorkflowEditorSettings.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/types.ts
Labels: frontend

#6174 [util] Add generic torch device class
  invokeai/app/api_app.py
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/latent.py
  invokeai/app/invocations/noise.py
  invokeai/app/invocations/upscale.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/app/services/model_manager/model_manager_default.py
  invokeai/backend/image_util/depth_anything/__init__.py
  invokeai/backend/image_util/dw_openpose/wholebody.py
  invokeai/backend/image_util/infill_methods/lama.py
  invokeai/backend/image_util/realesrgan/realesrgan.py
  invokeai/backend/image_util/safety_checker.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache_default.py
  invokeai/backend/model_manager/merge.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/util/__init__.py
  invokeai/backend/util/devices.py
  tests/backend/util/test_devices.py
Labels: python, invocations, backend, services, python-tests

#6221 [mm] Fix race condition when installing multi-file models
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services

#6213 Add IP Adapter Style & Composition Modes
  invokeai/app/invocations/ip_adapter.py
  invokeai/app/invocations/latent.py
  invokeai/app/invocations/metadata.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/stable_diffusion/diffusion/conditioning_data.py
  invokeai/backend/stable_diffusion/diffusion/custom_atttention.py
  invokeai/backend/stable_diffusion/diffusion/unet_attention_patcher.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlAdapters/components/ControlAdapterConfig.tsx
  invokeai/frontend/web/src/features/controlAdapters/components/parameters/ParamControlAdapterIPMethod.tsx
  invokeai/frontend/web/src/features/controlAdapters/hooks/useControlAdapterIPMethod.ts
  invokeai/frontend/web/src/features/controlAdapters/store/controlAdaptersSlice.ts
  invokeai/frontend/web/src/features/controlAdapters/store/types.ts
  invokeai/frontend/web/src/features/controlAdapters/util/buildControlAdapter.ts
  invokeai/frontend/web/src/features/metadata/util/parsers.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/addIPAdapterToLinearGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
Labels: python, invocations, backend, services, frontend

#6232 update IP adapter method labels to be designated as Beta
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlAdapters/components/parameters/ParamControlAdapterIPMethod.tsx
Labels: frontend

#6234 chore: v4.1.0
  invokeai/version/invokeai_version.py
Labels: python

#6238 fix: IP Adapter Method having incorrect informational popover
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlAdapters/components/parameters/ParamControlAdapterIPMethod.tsx
Labels: frontend

#6244 Re-enable app shutdown actions
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/util/catch_sigint.py
Labels: bug, python, backend, services

#6254 chore: v4.2.0a1
  invokeai/version/invokeai_version.py
Labels: python

#6262 fix: update ip adapter starter models path
  invokeai/backend/model_manager/starter_models.py
Labels: python, backend

#6269 chore: v4.2.0a3
  invokeai/version/invokeai_version.py
Labels: python

#6270 Update README.md
  README.md
Labels: Root

#6281 feat(mm): support sdxl ckpt inpainting models
  invokeai/backend/model_manager/probe.py
  invokeai/configs/stable-diffusion/sd_xl_inpaint.yaml
Labels: python, backend

#6283 fix(nodes): denoise latents accepts and validates CFG lists as input
  invokeai/app/invocations/latent.py
Labels: python, invocations

#6292 feat(mm): handle PC_PATH_MAX on external drives on macOS
  invokeai/app/services/download/download_default.py
Labels: python, services

#6295 chore: v4.2.0a4
  invokeai/version/invokeai_version.py
Labels: python
