Repository invoke-ai/InvokeAI, pull requests merged in 2024-02, with the labels that each got.

#5622 docs: update link to frontend README
  docs/installation/020_INSTALL_MANUAL.md
Labels: documentation

#5619 perf(config): change default png_compress_level to 1
  invokeai/app/services/config/config_default.py
Labels: python, Services

#5625 fix(ui): download image opens in new tab
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/hooks/useDownloadImage.ts
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/SingleSelectionMenuItems.tsx
Labels: Frontend

#5634 fix(ui): hide HRF if SDXL model selected
  invokeai/frontend/web/src/features/settingsAccordions/components/ImageSettingsAccordion/ImageSettingsAccordion.tsx
Labels: Frontend

#5630 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
Labels: Frontend

#5631 Update mkdocs.yml
  mkdocs.yml
Labels: Root

#5636 chore: add Hand Refiner to communityNodes.md
  docs/nodes/communityNodes.md
Labels: documentation

#5620 convert checkpoints to safetensors
  invokeai/backend/model_management/models/sdxl.py
Labels: python, Backend

#5623 perf: remove TypeAdapter if has use validate_assignment.
  invokeai/app/services/config/config_default.py
Labels: python, Services

#5641 fix(ui): refetch intermediates count when settings modal open
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/useClearIntermediates.ts
Labels: Frontend

#5635 Fix broken import in checkpoint_convert
  invokeai/backend/model_management/convert_ckpt_to_diffusers.py
Labels: python, Backend

#5653 Minor updates for diffusers and hf_hub
  pyproject.toml
Labels: Root, PythonDeps

#5648 fix(ui): handle fields with single option literal
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/features/nodes/util/schema/parseFieldType.ts
Labels: Frontend

#5649 fix(ui): do not swallow errors during schema parsing
  invokeai/frontend/web/src/features/nodes/util/schema/parseSchema.ts
Labels: Frontend

#5638 Update communityNodes.md
  docs/nodes/communityNodes.md
Labels: documentation

#5650 fix(ui): fix color input field alpha
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/ColorFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/buildNodesGraph.ts
Labels: Frontend

#5655 ui: translations update from weblate
  invokeai/frontend/web/public/locales/ar.json
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/fi.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/he.json
  invokeai/frontend/web/public/locales/hu.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ko.json
  invokeai/frontend/web/public/locales/nl.json
  invokeai/frontend/web/public/locales/pl.json
  invokeai/frontend/web/public/locales/pt.json
  invokeai/frontend/web/public/locales/pt_BR.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/sv.json
  invokeai/frontend/web/public/locales/tr.json
  invokeai/frontend/web/public/locales/uk.json
  invokeai/frontend/web/public/locales/zh_CN.json
  invokeai/frontend/web/public/locales/zh_Hant.json
Labels: Frontend

#5669 add actions for workflow library
  invokeai/frontend/web/src/common/hooks/useDownloadImage.ts
  invokeai/frontend/web/src/features/gallery/store/actions.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useDownloadWorkflow.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useLoadWorkflowFromFile.tsx
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useSaveWorkflow.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useSaveWorkflowAs.ts
  invokeai/frontend/web/src/features/workflowLibrary/store/actions.ts
Labels: Frontend

#5671 community node: BriaAI RMBG 1.4
  docs/nodes/communityNodes.md
Labels: documentation

#5673 Minor dep updates for diffusers and numpy
  pyproject.toml
Labels: Root, PythonDeps

#5672 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
Labels: Frontend

#5675 Print correct version when a non-default version is selected for install
  installer/lib/messages.py
Labels: Installer

#5681 Upgrade version of fastapi and socketio
  invokeai/app/api/sockets.py
  pyproject.toml
Labels: api, python, Root, PythonDeps

#5678 added button on hover for exposing fields to linear workflow ui
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/FieldContextMenu.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/FieldLinearViewToggle.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputField.tsx
Labels: Frontend

#5676 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
Labels: Frontend

#5682 fix(ui): when using control image dimensions, round to 8
  invokeai/frontend/web/src/features/controlAdapters/components/ControlAdapterImagePreview.tsx
Labels: Frontend

#5686 fix(nodes): deep copy graph inputs
  invokeai/app/services/shared/graph.py
Labels: python, Services

#5690 feat(backend): remove dependency on basicsr
  invokeai/app/invocations/upscale.py
  invokeai/backend/image_util/basicsr/LICENSE
  invokeai/backend/image_util/basicsr/__init__.py
  invokeai/backend/image_util/basicsr/arch_util.py
  invokeai/backend/image_util/basicsr/rrdbnet_arch.py
  invokeai/backend/image_util/realesrgan/realesrgan.py
  pyproject.toml
Labels: python, Root, PythonDeps, Invocations, Backend

#5692 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
Labels: Frontend

#5691 chore: bump deps
  pyproject.toml
Labels: Root, PythonDeps

#5695 fix references to .env.sample
  docker/README.md
  docs/installation/040_INSTALL_DOCKER.md
Labels: documentation, docker

#5697 Update installer string formatting
  installer/lib/messages.py
Labels: Installer

#5696 {release} v3.6.3
  invokeai/version/invokeai_version.py
Labels: python

#5699 fix(ui): enable lora when recalling
  invokeai/frontend/web/src/features/lora/store/loraSlice.ts
Labels: Frontend

#5704 exposed field loading state
  invokeai/frontend/web/src/app/store/middleware/devtools/actionSanitizer.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/index.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/getOpenAPISchema.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/socketio/socketConnected.ts
  invokeai/frontend/web/src/features/nodes/components/NodeEditor.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopRightPanel/ReloadSchemaButton.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLinearTab.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/types.ts
  invokeai/frontend/web/src/services/api/endpoints/appInfo.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/thunks/schema.ts
Labels: Frontend

#5705 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ko.json
  invokeai/frontend/web/public/locales/nl.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/tr.json
  invokeai/frontend/web/public/locales/zh_CN.json
Labels: Frontend

#5708 chore: bump diffusers 0.26.2 -> 0.26.3
  pyproject.toml
Labels: Root, PythonDeps

#5685 Quick Seamless Fixes
  invokeai/backend/model_management/seamless.py
Labels: python, Backend

#5656 feat(nodes): improve types in graph.py
  invokeai/app/services/shared/graph.py
Labels: python, Services

#5720 revert to using fetch to download images to metadata is not stripped
  invokeai/frontend/web/src/common/hooks/useDownloadImage.ts
Labels: Frontend

#5718 Update accelerate 0.26.1 -> 0.27.2
  pyproject.toml
Labels: Root, PythonDeps

#5717 fix(images_default): correct get_metadata error message
  invokeai/app/services/images/images_default.py
Labels: python, Services

#5711 Reorder exposed fields in workflow tab
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/dnd/components/DndSortable.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/LinearViewField.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLinearTab.tsx
  invokeai/frontend/web/src/features/nodes/store/workflowSlice.ts
Labels: FrontendDeps, Frontend

#5714 fix: repair Dockerfile for ROCm
  docker/Dockerfile
  docker/run.sh
Labels: docker

#5727 {release} 3.7.0
  invokeai/version/invokeai_version.py
Labels: python

#5731 fix(nodes): fix t2i adapter model loading
  invokeai/app/invocations/latent.py
Labels: python, Invocations, 4.0.0

#5736 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
Labels: Frontend

#5745 fix: Fix Alpha Channel breaking DWProcessor
  invokeai/app/invocations/controlnet_image_processors.py
Labels: documentation, api, python, Root, PythonDeps, Invocations, Backend, Services, FrontendDeps, Frontend, PythonTests

#5743 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: Frontend

#5747 Fix invokeai-configure crash on next branch
  invokeai/backend/install/invokeai_configure.py
  invokeai/frontend/install/model_install.py
Labels: python, Backend

#5728 add latent-upscale to communityNodes.md
  docs/nodes/communityNodes.md
Labels: documentation

#5751 updated tooltip popovers
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlAdapters/components/parameters/ParamControlAdapterBeginEnd.tsx
  invokeai/frontend/web/src/features/controlAdapters/components/parameters/ParamControlAdapterProcessorSelect.tsx
  invokeai/frontend/web/src/features/hrf/components/ParamHrfMethod.tsx
  invokeai/frontend/web/src/features/hrf/components/ParamHrfStrength.tsx
  invokeai/frontend/web/src/features/hrf/components/ParamHrfToggle.tsx
  invokeai/frontend/web/src/features/lora/components/LoRACard.tsx
  invokeai/frontend/web/src/features/lora/components/LoRASelect.tsx
  invokeai/frontend/web/src/features/parameters/components/Canvas/InfillAndScaling/ParamInfillPatchmatchDownscaleSize.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamHeight.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamWidth.tsx
  invokeai/frontend/web/src/features/parameters/components/ImageSize/AspectRatioSelect.tsx
  invokeai/frontend/web/src/features/parameters/components/ImageToImage/ImageToImageFit.tsx
  invokeai/frontend/web/src/features/parameters/components/MainModel/ParamMainModelSelect.tsx
  invokeai/frontend/web/src/features/parameters/components/Seamless/ParamSeamlessXAxis.tsx
  invokeai/frontend/web/src/features/parameters/components/Seamless/ParamSeamlessYAxis.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLRefiner/ParamSDXLRefinerCFGScale.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLRefiner/ParamSDXLRefinerModelSelect.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLRefiner/ParamSDXLRefinerNegativeAestheticScore.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLRefiner/ParamSDXLRefinerPositiveAestheticScore.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLRefiner/ParamSDXLRefinerScheduler.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLRefiner/ParamSDXLRefinerStart.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLRefiner/ParamSDXLRefinerSteps.tsx
Labels: Frontend

#5749 Add a few convenience targets to Makefile
  Makefile
Labels: Root

#5752 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/nl.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/zh_CN.json
Labels: Frontend

#5758 fix(ui): fix package build
  invokeai/frontend/web/tsconfig.node.json
  invokeai/frontend/web/vite.config.mts
Labels: Frontend

#5759 chore(ui): bump deps
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/app/store/enhancers/reduxRemember/driver.ts
  invokeai/frontend/web/src/services/api/index.ts
Labels: FrontendDeps, Frontend

#5766 Allow invokeai-web to start without a `models.yaml` present
  invokeai/app/services/config/config_base.py
  invokeai/app/services/config/config_default.py
  invokeai/backend/install/check_root.py
  invokeai/backend/install/invokeai_configure.py
  invokeai/backend/model_manager/merge.py
  invokeai/backend/training/textual_inversion_training.py
  invokeai/frontend/install/model_install.py
  invokeai/frontend/merge/merge_diffusers.py
  invokeai/frontend/training/textual_inversion.py
  invokeai/frontend/training/textual_inversion2.py
  invokeai/frontend/web/public/locales/en.json
Labels: python, Backend, Services, Frontend

#5774 Several small model install enhancements and fixes
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_install/model_install_base.py
  invokeai/backend/install/install_helper.py
  tests/app/services/model_install/test_model_install.py
Labels: api, python, Backend, Services, PythonTests

#5783 Next: Allow bespoke key on register
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/model_manager/probe.py
Labels: python, Backend, Services

#5763 feat(ui): bulk download click to download
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/bulkDownload.tsx
Labels: Frontend

#5802 Update communityNodes.md
  docs/nodes/communityNodes.md
Labels: documentation

#5797 feat(ui): Split the Canvas Mask Blur & Edge Size Setting
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildCanvasInpaintGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildCanvasOutpaintGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildCanvasSDXLInpaintGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildCanvasSDXLOutpaintGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Canvas/Compositing/MaskAdjustment/ParamMaskBlur.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/CompositingSettingsAccordion/CompositingSettingsAccordion.tsx
  invokeai/frontend/web/src/features/system/store/configSlice.ts
Labels: Frontend

#5811 added add all button to scan models
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ImportQueue/ImportQueue.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ImportQueue/ImportQueueItem.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ScanModels/ScanModelsResults.tsx
Labels: Frontend

#5822 handle change to Civitai metadata schema for commercial usage
  invokeai/backend/model_manager/metadata/fetch/civitai.py
  invokeai/backend/model_manager/metadata/metadata_base.py
  tests/backend/model_manager/model_metadata/metadata_examples.py
  tests/backend/model_manager/model_metadata/test_model_metadata.py
Labels: python, Backend, PythonTests

#5781 Switch ModelSearch from os.walk to os.scandir
  invokeai/app/api/routers/model_manager.py
Labels: api, python, Backend

#5824 Next: Remove deprecated app.on_event usage in api runner
  invokeai/app/api_app.py
Labels: python, Backend
