Repository invoke-ai/InvokeAI, pull requests merged in 2025-07, with the labels that each got.

#8151 fix(ui): Fix related models in new model picker.
  invokeai/frontend/web/src/common/components/Picker/Picker.tsx
  invokeai/frontend/web/src/features/lora/components/LoRASelect.tsx
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
Labels: frontend

#8160 fix(ui):On Edit/View workflow buttons, navigate to the right panel.
  invokeai/frontend/web/src/features/nodes/components/sidePanel/WorkflowViewEditToggleButton.tsx
Labels: frontend

#8163 fix(ui): really do not load disabled tabs
  invokeai/frontend/web/src/app/components/GlobalHookIsolator.tsx
  invokeai/frontend/web/src/features/system/store/configSlice.ts
  invokeai/frontend/web/src/features/ui/components/AppContent.tsx
  invokeai/frontend/web/src/features/ui/components/VerticalNavBar.tsx
Labels: frontend

#8169 handle flux-kontext reference images when switching bases
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
Labels: frontend

#8179 fix(api): exception handling in session queue
  invokeai/app/api/routers/session_queue.py
Labels: api, python, frontend

#8168 fix(ui): button functionality in workflow tab
  invokeai/frontend/web/src/features/nodes/components/sidePanel/WorkflowViewEditToggleButton.tsx
Labels: frontend

#8170 fix(ui):Remove Canvas Session button
  invokeai/frontend/web/src/common/components/SessionMenuItems.tsx
Labels: frontend

#8171 feat(ui):Automatically select brush tool on edit
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImageButtons.tsx
Labels: frontend

#8173 fix(ui): Fix translation reference in models picker
  invokeai/frontend/web/src/features/lora/components/LoRASelect.tsx
Labels: frontend

#8174 fix(ui): Fix save to gallery image update issue from staging area.
  invokeai/frontend/web/src/services/api/endpoints/images.ts
Labels: frontend

#8181 remove pulsing animation
  invokeai/frontend/web/src/features/prompt/PromptExpansion/PromptExpansionOverlay.tsx
Labels: frontend

#8182 properly build batch for flux kontext api batches
  invokeai/frontend/web/src/features/nodes/util/graph/buildLinearBatchConfig.ts
Labels: frontend

#8180 Update flux.py - change T5Tokenizer to T5TokenizerFast
  invokeai/backend/model_manager/load/model_loaders/flux.py
Labels: python, backend

#8183 fix(ui): Fix brush layer positioning in PSD export
  invokeai/frontend/web/src/features/controlLayers/hooks/useExportCanvasToPSD.ts
Labels: frontend

#8185 fix(ui): Re-implement image comparison on drag
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewerPanel.tsx
Labels: frontend

#8195 fix(ui): sets cfg_rescale_multiplier to 0 if there is no default. Also fixes issue with truthiness check causing 0 value to be missed.
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
Labels: frontend

#8201 Nav fixes
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/CanvasDropArea.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/CanvasLaunchpadPanel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/GenerateLaunchpadPanel.tsx
  invokeai/frontend/web/src/features/dnd/dnd.ts
  invokeai/frontend/web/src/features/imageActions/actions.ts
  invokeai/frontend/web/src/features/queue/hooks/useInvoke.ts
  invokeai/frontend/web/src/features/workflowLibrary/components/NewWorkflowConfirmationAlertDialog.tsx
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useValidateAndLoadWorkflow.ts
Labels: frontend

#8216 add claude nodes to blacklist for publishing
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/publish.ts
Labels: frontend

#8226 fix(ui): queue tab list of queue items
  invokeai/frontend/web/src/features/queue/components/CancelAllExceptCurrentButton.tsx
  invokeai/frontend/web/src/features/queue/components/DeleteAllExceptCurrentButton.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemDetail.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
  invokeai/frontend/web/src/features/queue/components/QueueTabQueueControls.tsx
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
  invokeai/frontend/web/src/services/api/endpoints/queue.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Labels: frontend

#8227 chore: bump version to v6.0.0rc5
  invokeai/version/invokeai_version.py
Labels: python, frontend

#8231 fix(ui): dont show option to add new layer from if on generate tab
  invokeai/frontend/web/src/app/components/GlobalImageHotkeys.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemNewLayerFromImageSubMenu.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImageButtons.tsx
  invokeai/frontend/web/src/features/gallery/hooks/useImageActions.ts
Labels: frontend

#8233 if on generate tab, recall dimensions instead of bbox
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Labels: frontend

#8234 update whats new for v6
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#8238 fix(ui): Adds Kontext Dev Quantized variant to the UI.
  invokeai/backend/model_manager/starter_models.py
Labels: python, backend

#8259 chore: prep for v6.0.1rc1
  invokeai/version/invokeai_version.py
Labels: python

#8261 fix(ui): language file filenames
  invokeai/frontend/web/public/locales/pt-BR.json
  invokeai/frontend/web/public/locales/zh-CN.json
  invokeai/frontend/web/public/locales/zh-Hant.json
Labels: frontend

#8268 fix(Model Manager): refuse to download a file when there's insufficient space
  invokeai/app/services/download/download_default.py
Labels: python, services

#8274 fix(ui): ignore disalbed ref images in readiness checks
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Labels: frontend

#8278 gh: update bug report template
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
Labels: CI-CD

#8282 Updated docs for 6.0
  docs/contributing/dev-environment.md
Labels: docs

#8287 fix(docker): switch to pnpm10.x
  docker/Dockerfile
Labels: docker

#8290 fix(ui): aspect ratios out of order
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Labels: frontend

#8288 fix(ui): uppercase file extensions blocked for image upload
  invokeai/frontend/web/src/common/hooks/useImageUploadButton.tsx
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Fields/ModelImageUpload.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowThumbnail/WorkflowThumbnailField.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetForm/StylePresetImageField.tsx
Labels: frontend

#8295 fix(ui): able to drag empty space in tab bar and detach panels
  invokeai/frontend/web/src/features/ui/layouts/use-hack-out-dv-tab-draggable.ts
Labels: frontend

#8184 fix(ui): Adds related model support to embeddings
  invokeai/frontend/web/src/features/prompt/PromptTriggerSelect.tsx
Labels: frontend

#8298 fix(ui): negative style prompt not recorded in metadata
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
Labels: frontend

#8300 chore(ui): update dockview to latest
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/ui/layouts/DockviewTab.tsx
  invokeai/frontend/web/src/features/ui/layouts/DockviewTabCanvasViewer.tsx
  invokeai/frontend/web/src/features/ui/layouts/DockviewTabCanvasWorkspace.tsx
  invokeai/frontend/web/src/features/ui/layouts/DockviewTabLaunchpad.tsx
  invokeai/frontend/web/src/features/ui/layouts/DockviewTabProgress.tsx
  invokeai/frontend/web/src/features/ui/layouts/use-hack-out-dv-tab-draggable.ts
Labels: frontend-deps, frontend

#8301 fix(ui): use invocation context provider in inspector panel
  invokeai/frontend/web/src/features/nodes/components/sidePanel/inspector/InspectorDetailsTab.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/inspector/InspectorOutputsTab.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/inspector/InspectorTemplateTab.tsx
Labels: frontend

#8302 fix(ui): unstyled error boundary
  invokeai/frontend/web/src/app/components/App.tsx
  invokeai/frontend/web/src/app/components/GlobalHookIsolator.tsx
  invokeai/frontend/web/src/app/components/ThemeLocaleProvider.tsx
  invokeai/frontend/web/src/app/hooks/useSyncLangDirection.ts
Labels: frontend

#8307 feat(ui): Adjust BBox to Inpaint Mask
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbar.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbarFitBboxToMasksButton.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useAutoFitBBoxToMasks.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Labels: frontend

#8239 Add auto layout controls to node editor
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/flow/panels/BottomLeftPanel/AutoLayoutPopover.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/BottomLeftPanel/ViewportControls.tsx
  invokeai/frontend/web/src/features/nodes/hooks/useAutoLayout.ts
  invokeai/frontend/web/src/features/nodes/store/workflowSettingsSlice.ts
Labels: frontend-deps, frontend

#8317 fix(ui): return wrapped history in redux-remember unserialize
  invokeai/frontend/web/src/app/store/store.ts
Labels: frontend

#8313 chore: prep for v6.1.0
  invokeai/version/invokeai_version.py
Labels: python

#8322 fix iterations for all API models
  invokeai/frontend/web/src/features/nodes/util/graph/buildLinearBatchConfig.ts
Labels: frontend

#8323 fix(ui): Reposition export button
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/CanvasEntityGroupList.tsx
Labels: frontend

#8326 fix(ui): incorrect zoom direction on fine scroll
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStageModule.ts
Labels: frontend

#8327 feat(ui): restore clear queue button
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/queue/components/CancelAllExceptCurrentButton.tsx
  invokeai/frontend/web/src/features/queue/components/ClearQueueButton.tsx
  invokeai/frontend/web/src/features/queue/components/ClearQueueConfirmationAlertDialog.tsx
  invokeai/frontend/web/src/features/queue/components/QueueActionsMenuButton.tsx
  invokeai/frontend/web/src/features/queue/components/QueueTabQueueControls.tsx
Labels: frontend

#8330 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#8333 perf(ui): imperatively get nodes and edges in autolayout hook
  invokeai/frontend/web/src/features/nodes/hooks/useAutoLayout.ts
Labels: frontend

#8348 fix(ui): connect metadata to output node for ext api nodes
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFluxKontextGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen4Graph.ts
Labels: frontend

#8350 fix(ui): queue count badge renders when left panel collapsed
  invokeai/frontend/web/src/features/queue/components/QueueCountBadge.tsx
Labels: frontend

#8349 fix(ui): progress image does not hide on viewer with autoswitch disabled
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
Labels: frontend

#8352 fix(app): handle model files with periods in their name
  invokeai/app/services/model_install/model_install_default.py
Labels: python, services

#8356 build(ui): export loading component
  invokeai/frontend/web/src/index.ts
Labels: frontend

#8364 feat(ui): zhoosh image comparison ui
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CompareToolbar.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageComparison.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageComparisonHover.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageComparisonSlider.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewerPanel.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/common.ts
Labels: frontend

#8369 fix(ui): add image name data attr to gallery placeholder image elements
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
Labels: frontend

#8371 feat(ui): add missing translations
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageList.tsx
  invokeai/frontend/web/src/features/gallery/components/BoardsListPanelContent.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemUseAsRefImage.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/viewMode/EmptyState.tsx
  invokeai/frontend/web/src/features/ui/components/VerticalNavBar.tsx
  invokeai/frontend/web/src/features/ui/layouts/GenerateLaunchpadPanel.tsx
  invokeai/frontend/web/src/features/ui/layouts/LaunchpadAddStyleReference.tsx
  invokeai/frontend/web/src/features/ui/layouts/LaunchpadEditImageButton.tsx
  invokeai/frontend/web/src/features/ui/layouts/LaunchpadGenerateFromTextButton.tsx
  invokeai/frontend/web/src/features/ui/layouts/LaunchpadUseALayoutImageButton.tsx
  invokeai/frontend/web/src/features/ui/layouts/UpscalingLaunchpadPanel.tsx
  invokeai/frontend/web/src/features/ui/layouts/canvas-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/generate-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/upscaling-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/workflows-tab-auto-layout.tsx
Labels: frontend
