Repository invoke-ai/InvokeAI, pull requests merged in 2025-01, with the labels that each got.

#7499 Correct Scale Informational Popover
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
Labels: frontend

#7510 docs: no need to specify version for dev env setup
  docs/contributing/dev-environment.md
  docs/installation/manual.md
Labels: docs

#7511 feat(ui): reset canvas layers only resets the layers
  invokeai/frontend/web/src/common/components/SessionMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
Labels: frontend

#7515 fix(api): limit board_name length to 300 characters
  invokeai/app/api/routers/boards.py
  invokeai/app/services/board_records/board_records_common.py
Labels: api, python, services

#7473 fix(app): remove obsolete DEFAULT_PRECISION variable
  invokeai/app/invocations/constants.py
Labels: python, invocations

#7505 Partial Loading PR4: Enable partial loading (behind config flag)
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/latents_to_image.py
  invokeai/app/invocations/sd3_latents_to_image.py
  invokeai/app/invocations/sd3_text_encoder.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/model_manager/model_manager_default.py
  invokeai/backend/flux/modules/conditioner.py
  invokeai/backend/image_util/hed.py
  invokeai/backend/image_util/infill_methods/lama.py
  invokeai/backend/image_util/lineart.py
  invokeai/backend/image_util/lineart_anime.py
  invokeai/backend/image_util/mlsd/utils.py
  invokeai/backend/image_util/normal_bae/__init__.py
  invokeai/backend/image_util/pidi/__init__.py
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/model_cache/cache_record.py
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_with_partial_load.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/model_manager/load/model_cache/utils.py
  invokeai/backend/patches/layers/ia3_layer.py
  invokeai/backend/util/prefix_logger_adapter.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
  tests/backend/model_manager/model_manager_fixtures.py
Labels: python, invocations, backend, services, python-tests

#7509 Partial Loading PR5: Dynamic cache ram/vram limits
  invokeai/app/api/routers/model_manager.py
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/flux_vae_decode.py
  invokeai/app/invocations/latents_to_image.py
  invokeai/app/invocations/sd3_latents_to_image.py
  invokeai/app/invocations/sd3_text_encoder.py
  invokeai/app/invocations/spandrel_image_to_image.py
  invokeai/app/invocations/tiled_multi_diffusion_denoise_latents.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/model_manager/model_manager_default.py
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_with_partial_load.py
  invokeai/backend/model_manager/load/model_cache/dev_utils.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/model_manager/load/model_cache/cached_model/test_cached_model_with_partial_load.py
  tests/backend/model_manager/model_manager_fixtures.py
Labels: api, python, invocations, backend, services, frontend, python-tests

#7521 chore: bump version to v5.6.0rc1
  invokeai/version/invokeai_version.py
Labels: python

#7525 Bugfix: Offload of GGML-quantized model in `torch.inference_mode()` cm
  invokeai/app/invocations/spandrel_image_to_image.py
Labels: python, invocations

#7526 Deprecate `ram`/`vram` configs for smoother migration path to dynamic limits
  invokeai/app/services/config/config_default.py
  invokeai/app/services/model_manager/model_manager_default.py
  tests/backend/model_manager/model_manager_fixtures.py
Labels: python, services, python-tests

#7529 Bugfix: Do not rely on `model.device` if model could be partially loaded
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/image_to_latents.py
  invokeai/app/invocations/sd3_image_to_latents.py
  invokeai/app/invocations/spandrel_image_to_image.py
  invokeai/app/invocations/tiled_multi_diffusion_denoise_latents.py
  invokeai/backend/flux/extensions/xlabs_ip_adapter_extension.py
  invokeai/backend/model_patcher.py
  invokeai/backend/stable_diffusion/extensions/t2i_adapter.py
Labels: python, invocations, backend

#7440 Fix for DEIS / DPM++ config clash by setting algorithm type - fixes #6368
  invokeai/app/invocations/denoise_latents.py
Labels: python, invocations

#7532 fix(ui): prevent canvas & main panel content from scrolling
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewer.tsx
  invokeai/frontend/web/src/features/ui/components/AppContent.tsx
Labels: frontend

#7536 docs: fix incorrect macOS launcher fix command
  docs/installation/quick_start.md
Labels: docs

#7538 chore: bump version to v5.6.0rc2
  invokeai/version/invokeai_version.py
Labels: python

#7537 Update communityNodes.md - Fix broken image
  docs/nodes/communityNodes.md
Labels: docs

#7539 fix(ui): image quality degradation on canvas after repeated generations
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
Labels: frontend

#7558 fix(ui): use window instead of document for image pasting
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
Labels: frontend

#7542 fix(ui): sticky preset image tooltip
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetImage.tsx
Labels: frontend

#7540 fix(ui): round rects when applying transform
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityTransformer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/util.ts
Labels: frontend

#7544 Make T5 models interchangeable between FLUX/SD3 workflows
  invokeai/app/invocations/flux_model_loader.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/sd3_model_loader.py
  invokeai/app/util/t5_model_identifier.py
  invokeai/backend/flux/modules/conditioner.py
Labels: python, invocations, backend

#7560 fix(ui): remove AbortController logic from paste to upload
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
Labels: frontend

#7564 Reduce peak memory during FLUX model load
  invokeai/backend/model_manager/load/model_loaders/flux.py
Labels: python, backend

#7565 Add `keep_ram_copy_of_weights` config option
  invokeai/app/services/config/config_default.py
  invokeai/app/services/model_manager/model_manager_default.py
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_only_full_load.py
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_with_partial_load.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/cached_model/test_cached_model_only_full_load.py
  tests/backend/model_manager/load/model_cache/cached_model/test_cached_model_with_partial_load.py
  tests/backend/model_manager/load/model_cache/cached_model/utils.py
  tests/backend/model_manager/model_manager_fixtures.py
Labels: python, backend, services, python-tests

#7566 Revise the default logic for the model cache RAM limit
  docs/features/low-vram.md
  invokeai/backend/model_manager/load/model_cache/model_cache.py
Labels: python, backend, docs

#7557 chore: bump version to v5.6.0rc3
  invokeai/version/invokeai_version.py
Labels: python

#7567 fix(ui): string field textarea accidentally readonly
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/StringFieldInputComponent.tsx
Labels: frontend

#7568 chore: bump version to v5.6.0rc4
  invokeai/version/invokeai_version.py
Labels: python

#7570 feat(ui): seeded random generators
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FloatGeneratorFieldComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FloatGeneratorUniformRandomDistributionSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/IntegerGeneratorFieldComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/IntegerGeneratorUniformRandomDistributionSettings.tsx
  invokeai/frontend/web/src/features/nodes/types/field.ts
Labels: frontend-deps, frontend

#7569 Add troubleshooting docs for the Windows page file issue
  docs/features/low-vram.md
Labels: docs

#7580 fix(ui): disable dynamic prompts generators pending resolution of infinite recursion issue
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/StringGeneratorFieldComponent.tsx
Labels: frontend

#7581 fix(ui): field handle positioning for non-batch fields
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/FieldHandle.tsx
Labels: frontend

#7586 docs: typo in manual docs install command
  docs/installation/manual.md
Labels: docs

#7591 Improve MaskOutput dimension consistency
  invokeai/app/invocations/mask.py
  invokeai/app/invocations/primitives.py
  invokeai/app/invocations/segment_anything.py
  invokeai/frontend/web/src/services/api/schema.ts
Labels: python, invocations, frontend

#7590 Support FLUX OneTrainer LoRA formats (incl. DoRA)
  invokeai/app/invocations/flux_lora_loader.py
  invokeai/app/invocations/flux_model_loader.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/model.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_linear.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_module_mixin.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/probe.py
  invokeai/backend/patches/layers/concatenated_lora_layer.py
  invokeai/backend/patches/layers/dora_layer.py
  invokeai/backend/patches/layers/merged_layer_patch.py
  invokeai/backend/patches/layers/utils.py
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/flux_kohya_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/flux_lora_constants.py
  invokeai/backend/patches/lora_conversions/flux_onetrainer_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/kohya_key_utils.py
  invokeai/backend/quantization/gguf/ggml_tensor.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addFLUXLoRAs.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
  tests/backend/patches/lora_conversions/lora_state_dicts/flux_dora_onetrainer_format.py
  tests/backend/patches/lora_conversions/test_flux_diffusers_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_flux_kohya_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_flux_onetrainer_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_kohya_key_utils.py
Labels: python, invocations, backend, frontend, python-tests

#7604 Fix T5EncoderField initialization in SD3 model loader
  invokeai/app/invocations/sd3_model_loader.py
Labels: python, invocations

#7603 Make the default max RAM cache size more conservative
  invokeai/backend/model_manager/load/model_cache/model_cache.py
Labels: python, backend
