Repository invoke-ai/InvokeAI, pull requests merged in 2025-06, with the labels that each got.

#8075 chore: prep for v5.13.0
  invokeai/version/invokeai_version.py
Labels: python

#8089 Make image creation dates searchable in the gallery
  invokeai/app/services/image_records/image_records_sqlite.py
Labels: python, services

#8088 Add Precise Reference to SDXL Starter Models
  invokeai/backend/ip_adapter/README.md
  invokeai/backend/model_manager/starter_models.py
Labels: python, backend

#8097 disable publish and cancel buttons once it begins
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/PublishWorkflowPanelContent.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/publish.ts
Labels: frontend

#8100 Migrate to modern logger interface
  invokeai/app/api_app.py
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/invocations/fields.py
  invokeai/app/services/images/images_default.py
  invokeai/app/services/model_install/model_install_default.py
Labels: python, invocations, services

#8098 fix(app): guard against possible race conditions during enqueue
  invokeai/app/services/session_queue/session_queue_sqlite.py
Labels: python, services

#8106 Updated fracturedjsonjs to version 4.1.0 for friendlier comma placement
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/DataViewer.tsx
Labels: frontend-deps, frontend

#8110 fix names of unpublishable nodes
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/publish.ts
Labels: frontend

#8114 fix(nodes): ensure each invocation overrides _original_model_fields with own field data
  invokeai/app/invocations/baseinvocation.py
Labels: python, invocations

#8116 Change save button to Invoke Blue
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbarSaveToGalleryButton.tsx
Labels: frontend

#8126 feat: add user_label to FieldIdentifier
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/publish.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueWorkflows.ts
  invokeai/frontend/web/src/services/api/schema.ts
Labels: python, services, frontend

#8070 convert LoRA picker to use new model picker component
  invokeai/frontend/web/src/features/lora/components/LoRASelect.tsx
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
Labels: frontend

#8135 fix(ui): Fix LoRA picker to default to current base model architecture
  invokeai/frontend/web/src/common/components/Picker/Picker.tsx
  invokeai/frontend/web/src/features/lora/components/LoRASelect.tsx
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
Labels: frontend

#8130 Rule of 3rds Composition Guide
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsPopover.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsRuleOfThirdsGuideSwitch.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositionGuideModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasManager.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
Labels: frontend

#8144 Update flux_text_encoder.py with log_tokenization in a similar way to how compel does it.
  invokeai/app/invocations/flux_text_encoder.py
Labels: python, invocations

#8138 fix(ui): prevent NaN from getting into konva internals
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityObjectRenderer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityTransformer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBboxToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/util.ts
Labels: frontend

#8137 feat(ui): workflows styling tweaks
  invokeai/frontend/web/src/features/nodes/components/NodeEditor.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/common/NodeWrapper.tsx
Labels: frontend
