Repository invoke-ai/InvokeAI, pull requests merged in 2025-09, with the labels that each got.

#8506 feat(ui): add readiness checks for LoRAs
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Labels: frontend

#8507 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#8521 ui(fix): remove video base models from image aspect/ratio logic
  invokeai/frontend/web/src/features/parameters/components/Dimensions/DimensionsAspectRatioSelect.tsx
Labels: frontend

#8517 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/vi.json
  invokeai/frontend/web/public/locales/zh-CN.json
Labels: frontend

#8522 chore: prep for v6.6.0rc1
  invokeai/version/invokeai_version.py
Labels: python

#8527 fix(ui): stop dragging when user clicks mmb once
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStageModule.ts
Labels: frontend

#8547 fix(ui): route metadata to gemini node
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildGemini2_5Graph.ts
Labels: frontend

#8542 fix(ui): LoRA number input min/max restored
  invokeai/frontend/web/src/features/controlLayers/store/lorasSlice.ts
  invokeai/frontend/web/src/features/lora/components/LoRACard.tsx
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useLoRAModelDefaultSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/LoRAModelDefaultSettings/DefaultWeight.tsx
  invokeai/frontend/web/src/features/system/store/configSlice.ts
Labels: frontend

#8568 fix(ui): render popovers in portals to ensure they are on top of other ui elements
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListSelectedEntityActionBarFill.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListSelectedEntityActionBarOpacity.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsPopover.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolFillColorPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolWidthPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbarScale.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldDescriptionPopover.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/BottomLeftPanel/AutoLayoutPopover.tsx
  invokeai/frontend/web/src/features/parameters/components/PostProcessing/PostProcessingPopover.tsx
  invokeai/frontend/web/src/features/prompt/PromptPopover.tsx
  invokeai/frontend/web/src/features/ui/components/Notifications.tsx
Labels: frontend

#8567 fix(ui): dedupe prompt history
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
Labels: frontend

#8563 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#8574 chore: prep for v6.8.0rc1
  invokeai/version/invokeai_version.py
Labels: python

#8580 fix(ui): allow scrolling in ModelPane
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPane.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
Labels: frontend

#8576 added support for NOOB-IPA-MARK1
  invokeai/backend/ip_adapter/ip_adapter.py
Labels: python, backend

#8575 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#8593 fix(ui): correct the in-place install verbiage, add tooltip
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ScanFolder/ScanFolderResults.tsx
Labels: frontend
