Repository invoke-ai/InvokeAI, pull requests merged in 2025-04, with the labels that each got.

#7846 Change `timm` and `controlnet-aux` pins to fix LLaVA model support
  pyproject.toml
Labels: Root, python-deps

#7865 fix(ui): do not switch between images when focused on a tab element
  invokeai/frontend/web/src/features/gallery/hooks/useGalleryHotkeys.ts
Labels: frontend

#7878 gh: update codeowners
  .github/CODEOWNERS
Labels: CI-CD

#7874 Update manual.md
  docs/installation/manual.md
Labels: docs

#7882 fix(ui): fix badge for validation run
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
Labels: frontend

#7888 feat(app): restore "Using torch device" message on startup
  invokeai/app/run_app.py
Labels: python

#7880 feat(mm): support size calculation for onnx models
  invokeai/backend/model_manager/load/model_util.py
Labels: python, backend

#7896 fix(ui): normalize alpha value to 0-1 when picking color on canvas
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasColorPickerToolModule.ts
Labels: frontend

#7900 feat(ui): save canvas/bbox to gallery saves basic metadata
  invokeai/frontend/web/src/features/controlLayers/hooks/saveCanvasHooks.ts
Labels: frontend

#7903 fix(ui): canvas dnd drop indicator color
  invokeai/frontend/web/src/features/dnd/DndListDropIndicator.tsx
Labels: frontend

#7905 feat(ui): allow send-image-to-canvas to work when canvas is uninitialized
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasIsBusy.ts
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemNewCanvasFromImageSubMenu.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemNewLayerFromImageSubMenu.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/SingleSelectionMenuItems.tsx
Labels: frontend

#7916 Add uv lock check to git pre-commit
  .pre-commit-config.yaml
Labels: Root

#7924 fix(app): remove accidentally committed tensor cache size
  invokeai/app/api/dependencies.py
Labels: api, python

#7921 fix(ui): ensure query subs are reset in case of error
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/socketConnected.ts
Labels: frontend

#7922 fix(ui): scrolling in builder
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/WorkflowBuilder.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/viewMode/ViewModeLeftPanelContent.tsx
Labels: frontend

#7930 feat(ui): wrap JSON in dataviewer
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/DataViewer.tsx
Labels: frontend

#7940 fix(mm): disable new model probe API
  invokeai/app/services/model_install/model_install_default.py
  tests/test_model_probe.py
  tests/test_model_probe/stripped_models/helloyoung25d_V15j.safetensors
Labels: python, services, python-tests

#7941 chore: bump version to v5.10.1
  invokeai/version/invokeai_version.py
Labels: python

#7955 fix(ui): dnd autoscroll in scrollable containers
  invokeai/frontend/web/src/common/components/OverlayScrollbars/ScrollableContent.tsx
Labels: frontend

#7957 feat(ui): add _all_ image outputs to gallery (including collections)
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Labels: frontend

#7966 chore: prep for v5.11.0rc1
  invokeai/version/invokeai_version.py
Labels: python

#7958 add optional output_metadata to baseinvocation
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/util/custom_openapi.py
Labels: python, invocations, frontend

#7971 fix(ui): toast typo
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#7978 send the list of reference images reversed to chatGPT so it matches displayed order
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
Labels: frontend
