Repository invoke-ai/InvokeAI, pull requests merged in 2025-02, with the labels that each got.

#7617 feat(ui): support copy of canvas
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/CanvasContextMenu/CanvasContextMenuGlobalMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/saveCanvasHooks.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCopyLayerToClipboard.ts
Labels: frontend

#7621 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ko.json
  invokeai/frontend/web/public/locales/nl.json
  invokeai/frontend/web/public/locales/pl.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/tr.json
  invokeai/frontend/web/public/locales/vi.json
  invokeai/frontend/web/public/locales/zh_CN.json
Labels: frontend

#7625 fix(ui): restore missing translation
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#7628 docs: install troubleshooting
  docs/installation/quick_start.md
Labels: docs

#7630 fix(ui): [object object] in OOM toast
  invokeai/frontend/web/src/features/toast/ErrorToastDescription.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Labels: frontend

#7631 chore: bump version to v5.6.1
  invokeai/version/invokeai_version.py
Labels: python

#7633 Fix: Multiply Image Channel allows RGB inputs again
  invokeai/app/invocations/image.py
Labels: python, invocations

#7636 fix(ui): prevent overflow on document root
  invokeai/frontend/web/index.html
Labels: frontend

#7638 Add metadata field extractor node
  nodes/README.md
  nodes/__init__.py
Labels: python, invocations, frontend

#7640 Upgrade vite, vitest, and related plugins to latest versions
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
Labels: frontend-deps, frontend

#7641 chore: bump version to v5.6.2
  invokeai/version/invokeai_version.py
Labels: python

#7644 Increase default VAE tile size in upscaling tab
  invokeai/frontend/web/src/features/nodes/util/graph/buildMultidiffusionUpscaleGraph.ts
Labels: frontend

#7647 Fix container build (frontend)
  docker/Dockerfile
Labels: docker

#7655 fix(ui): omnipresent pencil on board name
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/BoardEditableTitle.tsx
Labels: frontend

#7663 chore: bump version to v5.7.0rc1
  invokeai/version/invokeai_version.py
Labels: python

#7669 fix(ui): star button not working on Chrome
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImageHoverIcons.tsx
Labels: frontend

#7670 fix: weblate merge conflict issue
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#7678 fix(ui): reset form initial values when workflow is saved
  invokeai/frontend/web/src/features/nodes/store/workflowSlice.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useGetFormInitialValues.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useSaveWorkflow.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useSaveWorkflowAs.ts
Labels: frontend

#7681 (ui): add actions for copying image and opening image in new tab
  invokeai/frontend/web/src/common/hooks/useCopyImageToClipboard.ts
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemOpenInNewTab.tsx
  invokeai/frontend/web/src/features/gallery/store/actions.ts
Labels: frontend

#7684 fix(ui): make sure notes node exists like we do for invocation nodes
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Notes/NotesNode.tsx
Labels: frontend

#7679 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/vi.json
Labels: frontend

#7690 fix(api): fix args in other places that use get_all_board_image_names_for_board
  invokeai/app/services/bulk_download/bulk_download_default.py
  invokeai/app/services/images/images_default.py
  invokeai/app/services/shared/invocation_context.py
Labels: python, services

#7689 fix(backend): ValuesToInsertTuple.retried_from_item_id should be an int
  invokeai/app/services/session_queue/session_queue_common.py
Labels: python, services

#7695 fix(ui): image usage checks collection fields
  invokeai/frontend/web/src/features/deleteImageModal/store/selectors.ts
Labels: frontend

#7696 feat(app): do not pull PIL image from disk in image primitive
  invokeai/app/invocations/primitives.py
Labels: python, invocations

#7692 ui: translations update from weblate
  invokeai/frontend/web/public/locales/ja.json
Labels: frontend

#7701 fix(ui): form element settings obscured by container
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/ContainerElementSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/NodeFieldElementSettings.tsx
Labels: frontend

#7704 fix(ui): invoke button not showing loading indicator on canvas tab
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedLinear.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedNodes.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedUpscale.ts
Labels: frontend

#7706 chore: bump version to v5.7.1
  invokeai/version/invokeai_version.py
Labels: python

#7668 Tidy app entrypoint
  invokeai/app/api_app.py
  invokeai/app/run_app.py
  invokeai/app/util/startup_utils.py
Labels: python

#7712 Do not cache image layers in CI docker build
  .github/workflows/build-container.yml
Labels: CI-CD

#7673 Add `pytorch_cuda_alloc_conf` config to tune VRAM memory allocation
  docs/features/low-vram.md
  invokeai/app/run_app.py
  invokeai/app/services/config/config_default.py
  invokeai/app/util/torch_cuda_allocator.py
  tests/app/util/test_torch_cuda_allocator.py
Labels: python, services, python-tests, docs, DO NOT MERGE

#7707 docs: update RELEASE.md
  docs/RELEASE.md
Labels: docs

#7714 fix(ui): single or collection field rendering
  invokeai/frontend/web/src/features/nodes/types/field.ts
Labels: frontend
