Repository invoke-ai/InvokeAI, pull requests merged in 2025-08, with the labels that each got.

#8387 chore: bump version to v6.3.0rc2
  invokeai/version/invokeai_version.py
Labels: python

#8390 fix graph building for flux kontext API multi-image prep
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFluxKontextGraph.ts
Labels: frontend

#8392 fix(ui): overflow w/ long board names
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/BoardEditableTitle.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/BoardTooltip.tsx
  invokeai/frontend/web/src/features/gallery/components/Gallery.tsx
Labels: frontend

#8388 Add reset bbox to canvas hotkey
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbarFitBboxToLayersButton.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Labels: frontend

#8395 feat(mm): change anime upscaling model to one that doesn't trigger picklescan
  invokeai/backend/model_manager/starter_models.py
Labels: python, backend

#8391 feat(ui): add button to ref image to recall size & optimize for model
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageImage.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/dnd/DndImageIcon.tsx
Labels: frontend

#8397 chore: prep for v6.3.0
  invokeai/version/invokeai_version.py
Labels: python

#8378 Update NODES.md
  docs/nodes/NODES.md
Labels: docs

#8432 ui: translations update from weblate
  invokeai/frontend/web/public/locales/vi.json
Labels: frontend

#8446 git: move test LoRA to LFS
  tests/test_model_probe/stripped_models/peft_adapter_model.safetensors
Labels: python-tests

#8447 chore: prep for v6.4.0
  invokeai/version/invokeai_version.py
Labels: python

#8452 ci: add workflow to catch incorrect usage of git-lfs
  tests/test_model_probe/stripped_models/test
Labels: CI-CD, python-tests, lfs-detected!

#8455 fix(ui): float input precision
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/FloatField/useFloatField.ts
  invokeai/frontend/web/src/features/nodes/util/constrainNumber.ts
Labels: frontend

#8475 fix(ui): disable color picker while middle-mouse panning canvas
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasColorPickerToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
Labels: frontend

#8476 fix(ui): toggle bbox visiblity translation
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#8457 feat(ui): remove input field from form button on node field
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldAddRemoveFormRoot.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldAddToFormRoot.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldEditModeNodes.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/use-add-remove-form-element.ts
  invokeai/frontend/web/src/features/nodes/store/selectors.ts
Labels: frontend

#8464 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#8460 feat(ui): change board - sorting order of boards alphabetical
  invokeai/frontend/web/src/features/changeBoardModal/components/ChangeBoardModal.tsx
Labels: frontend

#8480 Feat/same field multiple times added to form
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/dnd-hooks.ts
Labels: frontend

#8492 chore: prep for v6.5.0
  invokeai/frontend/web/public/locales/en.json
  invokeai/version/invokeai_version.py
Labels: python, frontend

#8496 fix(ui): control layer transparency effect not working
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityObjectRenderer.ts
Labels: frontend

#8495 fix(ui): progress image renders at physical size
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStagingAreaModule.ts
Labels: frontend

#8501 do not show negative prompt or ref images on video tab
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Prompts/Prompts.tsx
Labels: frontend

#8504 match screen capture button to the others
  invokeai/frontend/web/src/features/video/components/VideoPlayerControls.tsx
Labels: frontend

#8505 fix(app): board count queries not getting categories as params
  invokeai/app/services/board_image_records/board_image_records_sqlite.py
Labels: python, services

#8513 Add 'sd-2' to supported negative prompt base models
  invokeai/frontend/web/src/features/parameters/types/constants.ts
Labels: frontend
