Repository invoke-ai/InvokeAI, pull requests merged in 2025-05, with the labels that each got.

#7982 feat(ui): show unsupported gen mode toasts as warnings intead of errors
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedLinear.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
Labels: frontend

#7981 fix(ui): always add selectModelsTab hotkey data to prevent unhandled exception while registering the hotkey handler
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysModal.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Labels: frontend

#7983 add prompt validation of at least one character to imagen3 graph
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
Labels: frontend

#7953 fix: deprecation warning in get_iso_timestamp
  invokeai/app/util/misc.py
Labels: python

#7990 chore: prep for v5.11.0rc2
  invokeai/version/invokeai_version.py
Labels: python

#7985 Implementing support for Non-Standard LoRA Format
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_linear.py
  invokeai/backend/patches/layers/lora_layer.py
  invokeai/backend/patches/lora_conversions/flux_kohya_lora_conversion_utils.py
Labels: python, backend

#7998 use the max for iterations passed in
  invokeai/frontend/web/src/features/queue/components/QueueIterationsNumberInput.tsx
Labels: frontend

#7999 refetch queue list on mount
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
Labels: frontend

#8000 easier way to override Whats New
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/app/store/nanostores/whatsNew.ts
  invokeai/frontend/web/src/features/ui/components/WhatsNew.tsx
Labels: frontend

#8001 feat(ui): custom error toast support
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/app/store/nanostores/toastMap.ts
  invokeai/frontend/web/src/features/toast/toast.ts
  invokeai/frontend/web/src/services/api/authToastMiddleware.ts
Labels: frontend

#8003 feat(nodes): support bottleneck flag for nodes
  invokeai/app/invocations/baseinvocation.py
  invokeai/invocation_api/__init__.py
Labels: python, invocations

#7995 chore: prep for v5.11.0
  invokeai/version/invokeai_version.py
Labels: python

#8006 Jazzhaiku/stats
  .gitignore
  invokeai/app/services/invocation_stats/invocation_stats_base.py
  invokeai/app/services/invocation_stats/invocation_stats_default.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
Labels: python, Root, backend, services

#8012 fix(app): address pydantic deprecation warning for accessing `BaseModel.model_fields`
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/shared/graph.py
Labels: python, invocations, services

#8015 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
Labels: frontend

#8016 fix(ui): only use client-side uploads if more than one image
  invokeai/frontend/web/src/common/hooks/useImageUploadButton.tsx
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
Labels: frontend

#8007 Re-enable classification API as fallback
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/model_on_disk.py
  scripts/classify-model.py
  scripts/strip_models.py
  tests/test_model_probe.py
Labels: python, backend, services, python-tests

#8030 fix(nodes): transformers bug with SAM
  invokeai/app/invocations/segment_anything.py
Labels: python, invocations

#8033 gh: update CODEOWNERS
  .github/CODEOWNERS
Labels: CI-CD

#8031 fix: improve gguf performance with torch.compile
  invokeai/backend/quantization/gguf/utils.py
Labels: python, backend

#8020 ui: translations update from weblate
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/vi.json
Labels: frontend

#8043 Update scaling math to land on 100% consistently.
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStageModule.ts
Labels: frontend

#8042 Fix: Don't auto-scale away from SDXL training sizes
  invokeai/frontend/web/src/features/controlLayers/util/getScaledBoundingBoxDimensions.ts
  invokeai/frontend/web/src/features/parameters/util/optimalDimension.ts
Labels: frontend

#8065 Fix: "Preserve Masked Region" for new mask compositing
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
Labels: frontend

#8059 feat(LoRA): allow LoRA layer patcher to continue past unknown layers
  invokeai/backend/patches/layer_patcher.py
Labels: python, backend

#8056 feat(ui): warn on unregistered invocation output
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/run_app.py
  invokeai/app/util/custom_openapi.py
Labels: python, invocations

#8067 (Fix)(app) Delay Imports that require torch for app launch
  invokeai/app/run_app.py
Labels: python

#8068 chore: bump version to v5.13.0rc3
  invokeai/version/invokeai_version.py
Labels: python
