Repository invoke-ai/InvokeAI, pull requests merged in 2025-03, with the labels that each got.

#7718 feat: accept WebP uploads for assets
  invokeai/frontend/web/src/common/hooks/useImageUploadButton.tsx
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Fields/ModelImageUpload.tsx
Labels: frontend

#7721 chore: bump version to v5.7.2rc1
  invokeai/version/invokeai_version.py
Labels: python

#7723 fix(ui): add missing builder translations
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/WorkflowBuilder.tsx
Labels: frontend

#7725 chore: bump version to v5.7.2rc2
  invokeai/version/invokeai_version.py
Labels: python

#7732 feat(ui): add button ref image layer empty state to pull bbox
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/IPAdapter/IPAdapterSettingsEmptyState.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RegionalGuidance/RegionalGuidanceIPAdapterSettingsEmptyState.tsx
Labels: frontend

#7571 chore(docker): reduce size between docker builds
  docker/Dockerfile
  pyproject.toml
Labels: docker, Root, python-deps

#7605 Fix begin and end validation used in ControlNets.
  invokeai/app/invocations/util.py
Labels: python, invocations

#7740 fix(ui): typo
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#7741 Ruff upgrade
  .github/workflows/python-checks.yml
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/segment_anything.py
  invokeai/app/services/config/config_default.py
  invokeai/backend/image_util/pngwriter.py
  invokeai/backend/model_manager/load/memory_snapshot.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/model_manager/merge.py
  invokeai/backend/model_manager/util/libc_util.py
  invokeai/backend/patches/lora_conversions/sdxl_lora_conversion_utils.py
  pyproject.toml
  tests/app/services/download/test_download_queue.py
Labels: CI-CD, python, Root, invocations, backend, services, python-tests, python-deps

#7744 repo: add @jazzhaiku to codeowners for CI, app and backend
  .github/CODEOWNERS
Labels: CI-CD

#7745 Changed version of FluxDenoiseInvocation
  invokeai/app/invocations/flux_denoise.py
Labels: python, invocations

#7749 chore: bump version to v5.8.0a1
  invokeai/version/invokeai_version.py
Labels: python

#7754 fix(ui): add webp to supported image types in toast messages
  invokeai/frontend/web/public/locales/en.json
Labels: frontend

#7748 feat(app): less janky custom node loading
  invokeai/app/invocations/custom_nodes/init.py
  invokeai/app/invocations/load_custom_nodes.py
  invokeai/app/run_app.py
Labels: python, invocations

#7751 fix(ui): hide shared on workflow library
  invokeai/frontend/web/src/app/store/nanostores/workflowCategories.ts
Labels: frontend

#7753 fix(ui): missing builder translations
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/FormElementEditModeHeader.tsx
Labels: frontend

#7762 chore: bump version to v5.8.0a2
  invokeai/version/invokeai_version.py
Labels: python

#7771 fix(api) add default for opened_at
  invokeai/app/services/workflow_records/workflow_records_common.py
Labels: python, services

#7773 fix(ui): respect line breaks in builder text and heading elements
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/HeadingElementContent.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/TextElementContent.tsx
Labels: frontend

#7775 chore: bump version to v5.8.0rc1
  invokeai/version/invokeai_version.py
Labels: python

#7776 allow workflow sort options to be passed in
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowLibraryTopNav.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowSortControl.tsx
  invokeai/frontend/web/src/features/nodes/store/workflowLibrarySlice.ts
Labels: frontend

#7778 getting started copy for workflows
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/NoContentForViewer.tsx
Labels: frontend

#7779 fix(ui): prevent vertical scrolling on row containers
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/ContainerElement.tsx
Labels: frontend

#7783 tweak(ui): styling for image collection fields
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/ImageFieldCollectionInputComponent.tsx
Labels: frontend

#7789 fix(ui): do not mark workflow as touched when setting form field initial values
  invokeai/frontend/web/src/features/nodes/store/workflowSlice.ts
Labels: frontend

#7791 fix(ui): duplicate edges on reconnect
  invokeai/frontend/web/src/features/nodes/hooks/useConnection.ts
Labels: frontend

#7794 ci: pin tj-actions/changed-files
  .github/workflows/frontend-checks.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/python-checks.yml
  .github/workflows/python-tests.yml
  .github/workflows/typegen-checks.yml
Labels: CI-CD

#7790 fix(ui): generator widget should stretch to fill when added to builder
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FloatGeneratorFieldComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/ImageGeneratorFieldComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/IntegerGeneratorFieldComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/StringGeneratorFieldComponent.tsx
Labels: frontend

#7799 feat(ui): add cancel and clear all as toggleable app feature
  invokeai/frontend/web/src/app/types/invokeai.ts
  invokeai/frontend/web/src/features/queue/components/CancelAllExceptCurrentButton.tsx
  invokeai/frontend/web/src/features/queue/components/ClearQueueIconButton.tsx
  invokeai/frontend/web/src/features/queue/components/QueueActionsMenuButton.tsx
  invokeai/frontend/web/src/features/queue/components/QueueTabQueueControls.tsx
  invokeai/frontend/web/src/features/ui/components/AppContent.tsx
  invokeai/frontend/web/src/features/ui/components/FloatingParametersPanelButtons.tsx
Labels: frontend

#7802 chore: prep for v5.8.1
  invokeai/version/invokeai_version.py
Labels: python

#7742 Model classification api
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/model_manager/__init__.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/util/model_util.py
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
  pyproject.toml
  tests/test_model_probe.py
  tests/test_model_probe/minimal_config_model.json
Labels: python, Root, backend, services, frontend, python-tests, python-deps

#7803 feat(app): better errors when scanning models with picklescan
  invokeai/app/services/model_load/model_load_default.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/util/model_util.py
Labels: python, backend, services

#7797 Stripped models
  invokeai/backend/model_manager/__init__.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/util/model_util.py
  pyproject.toml
  scripts/classify-model.py
  scripts/strip_models.py
  tests/conftest.py
  tests/test_model_probe.py
Labels: python, Root, backend, python-tests, python-deps

#7813 fix(ui): clip shift-draw strokes to bbox when clip to bbox enabled
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBrushToolModule.ts
Labels: frontend

#7805 ui: translations update from weblate
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/nl.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/vi.json
  invokeai/frontend/web/public/locales/zh_CN.json
Labels: frontend

#7825 fix(mm): flux model variant probing
  invokeai/backend/model_manager/legacy_probe.py
Labels: python, backend

#7827 fix(ui): siglip model translation key
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelTypeFilter.tsx
Labels: frontend

#7817 Port LLaVA to new API
  invokeai/backend/model_manager/config.py
  tests/test_model_probe.py
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/added_tokens.json
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/chat_template.json
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/config.json
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/generation_config.json
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/merges.txt
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/model.safetensors
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/preprocessor_config.json
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/processor_config.json
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/special_tokens_map.json
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/tokenizer.json
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/tokenizer_config.json
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/video_processor/preprocessor_config.json
  tests/test_model_probe/stripped_models/LLaVA Onevision Qwen2 0.5b-ov-hf/vocab.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/added_tokens.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/chat_template.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/config.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/generation_config.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/merges.txt
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/model-00001-of-00004.safetensors
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/model-00002-of-00004.safetensors
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/model-00003-of-00004.safetensors
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/model-00004-of-00004.safetensors
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/model.safetensors.index.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/preprocessor_config.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/processor_config.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/special_tokens_map.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/tokenizer.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/tokenizer_config.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/video_processor/preprocessor_config.json
  tests/test_model_probe/stripped_models/llava-onevision-qwen2-7b-si-hf/vocab.json
Labels: python, backend, python-tests

#7831 fix(ui): restore `display: flex` to image viewer and node editor
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewer.tsx
  invokeai/frontend/web/src/features/nodes/components/NodeEditor.tsx
Labels: frontend

#7819 fix: make dev_reload work for files in nodes/
  invokeai/app/run_app.py
  invokeai/app/util/startup_utils.py
Labels: python

#7829 chore: prep for v5.9.0rc2
  invokeai/version/invokeai_version.py
Labels: python

#7835 Import Smoke Test
  tests/test_imports.py
Labels: python-tests

#7837 fix: make source location discovery more robust
  invokeai/app/util/startup_utils.py
Labels: python

#7838 fix(ui): long node titles overflow
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/common/NodeTitle.tsx
Labels: frontend

#7832 fix(ui): correctly render whitespace in strings in string generator previews
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/StringGeneratorFieldComponent.tsx
Labels: frontend

#7844 fix(mm): LLaVA OneVision model calculates its own size
  invokeai/backend/llava_onevision_model.py
  invokeai/backend/model_manager/load/model_util.py
Labels: python, backend

#7842 Small improvements
  invokeai/backend/model_manager/config.py
  scripts/strip_models.py
Labels: python, backend

#7854 fix(nodes): expanded masks not 100% transparent outside the fade out region
  invokeai/app/invocations/image.py
Labels: python, invocations

#7858 feat(ui): disable denoising strength when selected models flux fill
  invokeai/frontend/web/src/features/controlLayers/components/ParamDenoisingStrength.tsx
Labels: frontend

#7862 fix(mm): flux variant probing
  invokeai/backend/flux/flux_state_dict_utils.py
  invokeai/backend/model_manager/legacy_probe.py
Labels: python, backend, python-tests

#7863 chore: prep for v5.9.1
  invokeai/version/invokeai_version.py
Labels: python

#7849 Port LoRA to new classification API
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/model_on_disk.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/patches/lora_conversions/formats.py
  scripts/strip_models.py
  tests/test_model_probe.py
  tests/test_model_probe/stripped_models/Hard Edge Detection (Canny).safetensors
  tests/test_model_probe/stripped_models/flat_colour_anime_style_schnell_v3.4.safetensors
Labels: python, backend, python-tests
